<!-- Арифметико-практическое мышление -->
<!-- Ритм мысли -->
<h1 *ngIf="mode==='play'" class="trainer-h1">Найдите&nbsp;закономерность,<br>продолжите&nbsp;числовой&nbsp;ряд</h1>
<h1 *ngIf="mode==='result'" class="trainer-h1">Ваш&nbsp;результат<br>&nbsp;</h1>

<div class="wrapper">
  <ng-container
    *ngFor="let item of items"
  >
    <div class="item-box">
      <div class="item-answer" [class.invisible]="!isAnswerShown">{{ item.rune }}</div>
      <div class="item-data">{{ item.data }},</div>
      <div class="item-answer" [class.invisible]="!isAnswerShown">{{ item.act }}</div>
    </div>
  </ng-container>
  <div class="item-box">
    <div class="item-answer">&nbsp;</div>
    <div class="item-data">
      <div class="item-correct" [class.invisible]="!isAnswerShown">{{ item.data }}</div>
      <input
        type="number"
        class="input"
        [(ngModel)]="userData"
      >
    </div>
    <div class="item-answer" [class.invisible]="!isAnswerShown">{{ item.act }}</div>
  </div>
</div>

<button
  class="button button--trainer button--answer"
  [class.invisible]="mode !== 'result' || isSuccess || isAnswerShown"
  (click)="showAnswer()"
>Показать решение</button>

<button
  *ngIf="mode === 'play'"
  class="button button--trainer"
  (click)="showResult()"
>Проверить</button>

<button
  *ngIf="mode === 'result'"
  class="button button--trainer"
  (click)="finish()"
>Продолжить</button>
