.wrapper {
  display: grid;

  --columns: 11;

  grid-template-columns: repeat(var(--columns), min-content);
  grid-auto-rows: min-content;
  column-gap: var(--trainer-margin);
  row-gap: calc(var(--trainer-margin) * 2);
}

.invisible {
  opacity: 0;
  visibility: hidden;
}

.item-box {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: stretch;
}

.item-data {
  flex-grow: 1;
  font-size: 120%;
  font-weight: 600;
  white-space: nowrap;
  text-align: center;
  margin: 8px 0;

  position: relative;
}

.item-correct {
  position: absolute;
  left: 0;
  bottom: calc(100% + 4px);
  color: var(--trainer-success-color);
}

.item-answer {
  font-size: 80%;
  font-weight: 400;
  white-space: nowrap;
  text-align: center;
}

.input {
  padding: 0;
}

.button {
  margin: 0;
  margin-top: calc(var(--trainer-margin) * 4);
  margin-bottom: auto;
}

.button--answer {
   margin-bottom: 0;
}
