<header class="header">

  <!-- <button class="button" type="button">
    <div class="button__content">
      <svg class="button__icon button__icon--menu" width="24" height="19" viewBox="0 0 19 19">
        <path d="M24 0H0v4h24V0zM24 7.5H0v4h24v-4zM0 15v4h24v-4H0z"></path>
      </svg>
    </div>
    <span class="visually-hidden">Меню</span>
  </button> -->

  <a class="logo" routerLink="/">
    <svg class="logo__svg" width="82" height="40" viewBox="0 0 82 41">
      <path d="M0 14h4l8 9.5 8-9.5h4v19h-4V19.5L13 28s-.5.5-1 .5-1-.5-1-.5l-7-8.5V33H0V14zm61 0h18c2 0 3 1 3 3v3.5c0 2-1 3-3 3 2 0 3 1 3 3V30c0 2-1 3-3 3H61V14zm4 4v3.5h12c.5 0 1-.5 1-1V19c0-.5-.5-1-1-1H65zm0 7.5V29h12c.5 0 1-.5 1-1v-1.5c0-.5-.5-1-1-1H65zM30 33V14h4v19h-4zm10 0V14h4v19h-4zM0 36h82v4H0v-4zM3.5 6.5L42 0l36 6.5s4 .5 4 2V11H0V8.5c0-1.5 3.5-2 3.5-2zM50 33V14h4v19h-4z"></path>
    </svg>
    <span class="visually-hidden">Международная школа Васильевой</span>
  </a>

  <nav class="nav">
    <a class="nav__link" routerLink="/dashboard" routerLinkActive="active">
      <span>Личный кабинет</span>
    </a>
    <a class="nav__link" routerLink="/publications" routerLinkActive="active">
      <span>Учебные материалы</span>
    </a>
    <a class="nav__link" routerLink="/club" routerLinkActive="active">
      <span>Клуб</span>
    </a>
  </nav>

  <!-- <button class="button" type="button">
    <div class="button__content">
      <svg class="button__icon" width="24" height="24" viewBox="0 0 24 24">
        <path d="M.054 23c.971-1.912 2.048-4.538 1.993-6.368-1.308-1.562-2.047-3.575-2.047-5.625 0-5.781 5.662-10.007 12-10.007 6.299 0 12 4.195 12 10.007 0 6.052-6.732 11.705-15.968 9.458-1.678 1.027-5.377 2.065-7.978 2.535z"></path>
      </svg>
      <span class="button__badge">4</span>
    </div>
    <span class="visually-hidden">Сообщения</span>
  </button> -->

  <button class="button" type="button">
    <div class="button__content">
      <svg class="button__icon" width="24" height="24" viewBox="0 0 24 24">
        <path d="M15.137 3.945c-.644-.374-1.042-1.07-1.041-1.82v-.003c.001-1.172-.938-2.122-2.096-2.122s-2.097.95-2.097 2.122v.003c.001.751-.396 1.446-1.041 1.82-4.667 2.712-1.985 11.715-6.862 13.306v1.749h20v-1.749c-4.877-1.591-2.195-10.594-6.863-13.306zm-3.137-2.945c.552 0 1 .449 1 1 0 .552-.448 1-1 1s-1-.448-1-1c0-.551.448-1 1-1zm3 20c0 1.598-1.392 3-2.971 3s-3.029-1.402-3.029-3h6z"></path>
      </svg>
      <span class="button__badge">1</span>
    </div>
    <span class="visually-hidden">Уведомления</span>
  </button>

  <button class="user-button" type="button">
    <div class="user-button__avatar">
      <span class="user-button__first-letter">Д</span>
    </div>
    <div class="user-button__info">
      <div class="user-button__name">
        <span>Дмитрий Поляков</span>
        <svg class="user-button__arrow" width="8" height="6" viewBox="0 0 8 6">
          <path d="M0 1.7L1.3.4 4 2.9 6.7.4 8 1.7 4 5.4 0 1.7z"></path>
        </svg>
      </div>
      <div class="user-button__type">Premium 562 дня</div>
    </div>
  </button>

  <div class="messages">

  </div>
</header>
<main class="main">
  <router-outlet></router-outlet>
</main>
<footer class="footer">

</footer>
<aside class="menu">

</aside>
