<h1 class="mat-h1 h1">Пользователь</h1>
<div class="user mat-elevation-z3">
  <img class="user-avatar" src="{{ item.avatar | avatar }}">

  <h2 lass="mat-h2 user-h2">{{ item.name }}</h2>

  <div class="user-indicators">
    <div class="indicator">
      <div class="indicator-value">
        <span>72%</span>
        <!-- <mat-icon class="indicator-icon">trending_up</mat-icon> -->
      </div>
      <div class="indicator-name">Заряд мозга</div>
    </div>
    <div class="indicator">
      <div class="indicator-value">
        <span>435</span>
        <!-- <mat-icon class="indicator-icon">trending_up</mat-icon> -->
      </div>
      <div class="indicator-name">Восприятие</div>
    </div>
    <div class="indicator">
      <div class="indicator-value">
        <span>169</span>
        <!-- <mat-icon class="indicator-icon">trending_up</mat-icon> -->
      </div>
      <div class="indicator-name">Память</div>
    </div>
    <div class="indicator">
      <div class="indicator-value">
        <span>382</span>
        <!-- <mat-icon class="indicator-icon">trending_up</mat-icon> -->
      </div>
      <div class="indicator-name">Интеллект</div>
    </div>
    <div class="indicator">
      <div class="indicator-value">
        <span>799</span>
        <!-- <mat-icon class="indicator-icon">trending_up</mat-icon> -->
      </div>
      <div class="indicator-name">Эрудиция</div>
    </div>
  </div>

  <div class="user-controls">
    <button mat-button color="accent" (click)="message()">
      <mat-icon>message</mat-icon>
      <span>Cообщение</span>
    </button>
    <button mat-button color="primary">
      <mat-icon>warning</mat-icon>
      <span>Уведомление</span>
    </button>
    <button mat-button color="warn">
      <mat-icon>block</mat-icon>
      <span>Блокировать</span>
    </button>
    <button mat-button color="warn">
      <mat-icon>delete</mat-icon>
      <span>Удалить</span>
    </button>
  </div>

  <div class="user-info">
    <span class="user-info-label">Статус</span>
    <span><b>ОПЛАЧЕН</b>&nbsp;<i>(до&nbsp;31.12.2020)</i></span>
    <span class="user-info-label">Город</span>
    <span>Екатеринбург</span>
    <span class="user-info-label">E-mail</span>
    <span>{{ item.email }}</span>
    <span class="user-info-label">Телефон</span>
    <span>{{ item.phone }}</span>
    <div class="user-info-social">
      <a href="https://fb.com">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
          <path d="M9 8h-3v4h3v12h5v-12h3.642l.358-4h-4v-1.667c0-.955.192-1.333 1.115-1.333h2.885v-5h-3.808c-3.596 0-5.192 1.583-5.192 4.615v3.385z"></path>
        </svg>
      </a>
      <a href="https://vk.com">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
          <path class="st0" d="M13.162 18.994c.609 0 .858-.406.851-.915-.031-1.917.714-2.949 2.059-1.604 1.488 1.488 1.796 2.519 3.603 2.519h3.2c.808 0 1.126-.26 1.126-.668 0-.863-1.421-2.386-2.625-3.504-1.686-1.565-1.765-1.602-.313-3.486 1.801-2.339 4.157-5.336 2.073-5.336h-3.981c-.772 0-.828.435-1.103 1.083-.995 2.347-2.886 5.387-3.604 4.922-.751-.485-.407-2.406-.35-5.261.015-.754.011-1.271-1.141-1.539-.629-.145-1.241-.205-1.809-.205-2.273 0-3.841.953-2.95 1.119 1.571.293 1.42 3.692 1.054 5.16-.638 2.556-3.036-2.024-4.035-4.305-.241-.548-.315-.974-1.175-.974h-3.255c-.492 0-.787.16-.787.516 0 .602 2.96 6.72 5.786 9.77 2.756 2.975 5.48 2.708 7.376 2.708z"></path>
        </svg>
      </a>
      <a href="https://twitter.com/">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
          <path d="M24 4.557c-.883.392-1.832.656-2.828.775 1.017-.609 1.798-1.574 2.165-2.724-.951.564-2.005.974-3.127 1.195-.897-.957-2.178-1.555-3.594-1.555-3.179 0-5.515 2.966-4.797 6.045-4.091-.205-7.719-2.165-10.148-5.144-1.29 2.213-.669 5.108 1.523 6.574-.806-.026-1.566-.247-2.229-.616-.054 2.281 1.581 4.415 3.949 4.89-.693.188-1.452.232-2.224.084.626 1.956 2.444 3.379 4.6 3.419-2.07 1.623-4.678 2.348-7.29 2.04 2.179 1.397 4.768 2.212 7.548 2.212 9.142 0 14.307-7.721 13.995-14.646.962-.695 1.797-1.562 2.457-2.549z"></path>
        </svg>
      </a>
    </div>
  </div>
</div>
<mat-tab-group class="wrapper mat-elevation-z3">
  <mat-tab label="Показатели">
    <users-item-indicators></users-item-indicators>
  </mat-tab>
  <mat-tab label="Информация">
    <user-item-info></user-item-info>
  </mat-tab>
  <mat-tab label="Журнал">
    <user-item-log></user-item-log>
  </mat-tab>
</mat-tab-group>
