<h2 class="h2">Персональные тренировки</h2>
<everyday-card *ngIf="!isEverydayEnded"></everyday-card>
<tomorrow-card *ngIf="isEverydayEnded"></tomorrow-card>
<charger-card></charger-card>
<five-days-discount-card class="five-days-discount" [value]="fiveDaysDiscount"></five-days-discount-card>

<h2 class="h2">Ваши результаты</h2>
<brain-charge-card [value]="brainCharge"></brain-charge-card>
<main-chart-card class="main-chart"></main-chart-card>
<main-area-card></main-area-card>

<!-- Скорость мыслительных процессов, время прохождения блоков -->


<h2 class="h2">Рекомендуемые материалы</h2>
<div class="recommendations">
  <educational-material-card></educational-material-card>
  <educational-material-card></educational-material-card>
  <educational-material-card></educational-material-card>
</div>

<h2 class="h2">Достижения</h2>
<timeline class="timeline"></timeline>