:host {
  display: block;
  min-height: calc(100vh - 32px);
  max-width: 960px;

  margin: 8px auto;
  padding: 8px;

  background-color: var(--color-background);
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);

  border-radius: 9px;
  user-select: none;
}

.matrix {
  box-sizing: border-box;
  margin-right: 32px;
  margin-bottom: 32px;

  flex-shrink: 0;
  display: inline-grid;
  grid-template-columns: repeat(var(--size), 50px);
  grid-template-rows: repeat(calc(var(--size) + 1), 50px);

  gap: 4px;
  page-break-inside: avoid;
}

.matrix-h2 {
  box-sizing: border-box;
  grid-column-start: 1;
  grid-column-end: -1;
  align-self: end;

  margin: 0;
  padding: 8px;
  font-size: 18px;
  line-height: 1;
  text-align: center;
}

.matrix-item {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  border-radius: 4px;
  background-color: #eee4da;
  color: #776e65;
  border: 1px solid #ccc;
  user-select: none;
  cursor: pointer;
}

.matrix-item.current {
  border-color: #0273d4;
  box-shadow: 0 0 5px #0273d4;
}

.matrix-item span {
  box-sizing: border-box;
  font-size: 24px;
  font-weight: 500;
  line-height: 1;
  cursor: pointer;
}