:root {

  --color-text: rgba(0, 0, 0, 0.88);
  --color-dark-gray: rgba(0,0,0,.56);
  --color-light-gray: rgba(0,0,0,.06);

  --color-gray: #808080;
  --color-gray-light: #d3d3d3;
  --color-gray-ultralight: #e9e9e9;

  --color-main: #ff4100;
  --color-second: #0273d4;
  --color-success: #00b25c;
  --color-warning: #FFAE40;

  --color-background: rgb(250, 248, 239);


  --box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 0 1px rgba(0,0,0,0.16);
  --hover-transition-duration: .2s;
}