
.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;

  clip: rect(0 0 0 0);
  overflow: hidden;
  white-space: nowrap;
}

.svg-icon {
  display: block;
  position: relative;

  width: 1em;
  height: 1em;

  flex-shrink: 0;

  color: inherit;
  fill: currentColor;
}

.svg-icon path,
.svg-icon use {
  fill: currentColor;
}