:host {
  --bg-color-h: var(--background-color-h, 231);
  --bg-color-s: var(--background-color-s, 37%);
  --bg-color-l: var(--background-color-l, 56%);

  background-color: hsl(var(--bg-color-h), var(--bg-color-s), var(--bg-color-l));
  background-image: linear-gradient(
                      60deg,
                      hsl(var(--bg-color-h), var(--bg-color-s), var(--bg-color-l)),
                      hsl(var(--bg-color-h), calc(var(--bg-color-s) + 18%), calc(var(--bg-color-l) + 18%)));
  background-repeat: no-repeat;

  color: #fff;

  border-radius: 4px;

  display: grid;
  grid-template-rows: min-content min-content;
  grid-template-columns: auto min-content;

  padding: 16px;
  gap: 16px;
}

.value {
  font-size: 36px;
  margin-top: 12px;
  margin-bottom: 12px;
}

.title {
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  text-transform: uppercase;
}

.icon {
  align-self: start;
  font-size: 40px;
  height: 40px;
  width: 40px;
}

.trend {
  display: flex;
}

.trend-value {
  font-size: 14px;
  line-height: 16px;
}

.trend-icon {
  font-size: 16px;
  height: 16px;
  width: 16px;
  font-weight: 700;
  margin-left: 2px;
}