:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
  min-width: 100%;
  flex: 1 1 100%;
  max-height: 100%;

  margin: 0;
  padding: 16px;

  position: relative;
  overflow: hidden;
}

.h1 {
  margin: 0;
  padding: 0;

  font-size: 18px;
  font-weight: 600;
  line-height: 1.2;
  text-align: center;
}

.button {
  margin: 0;
  margin-top: calc(var(--trainer-margin) * 4);
}
