<mat-card>
  <mat-card-header>
    <mat-card-title>Регулярность посещений</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <canvas baseChart
            [chartType]="chartType"
            [options]="chartOptions"
            [labels]="chartLabels"
            [legend]="chartLegend"
            [data]="chartData1"
            ></canvas>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-header>
    <mat-card-title>Регулярность тренировок</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <canvas baseChart
            [chartType]="chartType"
            [options]="chartOptions"
            [labels]="chartLabels"
            [legend]="chartLegend"
            [data]="chartData2"
            ></canvas>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-header>
    <mat-card-title>Средний заряд мозга</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <canvas baseChart
            [chartType]="chartType"
            [options]="chartOptions"
            [labels]="chartLabels"
            [legend]="chartLegend"
            [data]="chartData3"
            ></canvas>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-header>
    <mat-card-title>Восприятие</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <canvas baseChart
            [chartType]="chartType"
            [options]="chartOptions"
            [labels]="chartLabels"
            [legend]="chartLegend"
            [data]="chartData4"
            ></canvas>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-header>
    <mat-card-title>Память</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <canvas baseChart
            [chartType]="chartType"
            [options]="chartOptions"
            [labels]="chartLabels"
            [legend]="chartLegend"
            [data]="chartData5"
            ></canvas>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-header>
    <mat-card-title>Интеллект</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <canvas baseChart
            [chartType]="chartType"
            [options]="chartOptions"
            [labels]="chartLabels"
            [legend]="chartLegend"
            [data]="chartData6"
            ></canvas>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-header>
    <mat-card-title>Эрудиция</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <canvas baseChart
            [chartType]="chartType"
            [options]="chartOptions"
            [labels]="chartLabels"
            [legend]="chartLegend"
            [data]="chartData7"
            ></canvas>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-header>
    <mat-card-title>Баланс показателей</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <canvas baseChart
            [chartType]="chartPolarArea"
            [options]="chartOptions"
            [labels]="chartPolarLabels"
            [legend]="chartLegend"
            [data]="chartPolarData"
            ></canvas>
  </mat-card-content>
</mat-card>