<!-- Горманизация работы полушарийй -->
<h1 *ngIf="mode==='show'" class="trainer-h1">Запомните название</h1>
<h1 *ngIf="mode==='play' || mode==='result'" class="trainer-h1">Восстановите название по памяти</h1>

<ng-container *ngIf="page">
  <picture class="image">
    <source [srcset]="'/assets/expressions/' + page.image + '.webp'">
    <img [src]="'/assets/expressions/' + page.image + '.jpg'">
  </picture>

  <div class="input">
    <trainer-input [active]="true" (value)="page.userData"></trainer-input>
  </div>
  <div class="text">{{page.data}}</div>
</ng-container>

<trainer-button
  class="button"
  text="Продолжить"
  (touch)="onButtonTouch()"
></trainer-button>
