.button {
  --color-disabled: rgba(0, 0, 0, 0.16);
  --color-hover: rgba(0, 0, 0, 0.07);
  --color-left: rgb(3, 169, 244);
  --color-right: rgb(33,125,213);
  --color-text: rgb(255, 255, 255);

  --height: 46px;

  --font-size: 16px;

  display: flex;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  justify-content: center;
  align-items: center;

  width: auto;
  min-width: var(--height);

  height: var(--height);
  min-height: var(--height);
  max-height: var(--height);

  margin: 0;
  padding: 0 1em;

  background-color: var(--color-right);
  background-image:
    linear-gradient(var(--color-hover), var(--color-hover)),
    linear-gradient(135deg, var(--color-left), var(--color-right));
  background-size: 0% 0%, 100%;
  background-position: center;
  background-repeat: no-repeat;

  transition-duration: 100ms;
  transition-timing-function: ease;
  transition-property: background-size;

  color: var(--color-text);

  border: 0 none;
  border-radius: 4px;

  font-family: inherit;
  font-size: var(--font-size);
  font-style: normal;
  font-variant: normal;
  font-weight: 400;

  text-transform: uppercase;
  text-decoration: none;

  cursor: pointer;
  user-select: none;
}

.button:not([pending]):hover {
  background-size: 100% 100%, 100%;
}

.button[disabled] {
  background-color: var(--color-disabled);
  background-image: none;
  cursor: default;
}

@keyframes w-forms-button-spinner {
  to {transform: translate(-50%, -50%) rotate(360deg);}
}

.button[pending] {
  padding-top: var(--height);
  cursor: default;
}

.button[pending]::after {
  content: "";
  display: block;
  box-sizing: border-box;

  position: absolute;
  left: 50%;
  top: 50%;

  width: calc(var(--height) / 2);
  height: calc(var(--height) / 2);

  border-radius: 50%;
  border-top: 2px solid var(--color-text);
  border-right: 2px solid transparent;

  transform: translate(-50%, -50%);

  animation: w-forms-button-spinner .6s linear infinite;
}
