\<!-- Точность восприятия - вопрос к тексту -->
<h1 *ngIf="mode==='play'" class="trainer-h1">Ответьте&nbsp;<br>на&nbsp;вопрос</h1>
<h1 *ngIf="mode==='result'" class="trainer-h1">Ваш&nbsp;результат<br>&nbsp;</h1>

<h2>{{ this.config.data }}</h2>

<trainer-selector
  class="selector"
  type="text"
  [readonly]="mode==='result'"
  [items]="items"
  (touch)="result()"
></trainer-selector>

<button *ngIf="mode==='play'" trainerButton invisible disabled (click)="result()">Продолжить</button>
<button *ngIf="mode==='result'" trainerButton (click)="finish()">Продолжить</button>
