<section class="cards">
  <card-everyday routerLink="/training/everyday"></card-everyday>
  <card-recommendations class="cards__recommendations"></card-recommendations>
  <card-charger routerLink="/training/once"></card-charger>
</section>

<section class="indicators">
  <indicator-brain></indicator-brain>
  <indicator-charts class="indicators__charts"></indicator-charts>
  <indicator-speed></indicator-speed>
</section>

<section class="progress">
  <h2 class="progress__h2">
    <svg class="svg-icon" width="24" height="24" viewBox="0 0 24 24" fill-rule="evenodd">
      <path d="M0 22h1v-5h4v5h2v-10h4v10h2v-15h4v15h2v-21h4v21h1v1h-24v-1zm4-4h-2v4h2v-4zm6-5h-2v9h2v-9zm6-5h-2v14h2v-14zm6-6h-2v20h2v-20z"></path>
    </svg>
    <span>Достижения</span>
  </h2>
  <progress-list></progress-list>
</section>