<ng-container *ngIf="config.type === 'debug'">
  <h2 class="trainer-h2">Режим отладки</h2>
</ng-container>

<ng-container *ngIf="config.type === 'everyday'">
  <h2 class="trainer-h2">Ежедневная тренировка</h2>
  <p class="trainer-p">Добро пожаловать на ежедневную тренировку интеллекта! Вам предстоит выполнить ряд упражнений, общей продолжительностью не более 30 минут. Можно использовать кнопку продолжить для более быстрого перехода к следующему упражнения. Если справитесь быстрее, прекрасно! Ваши результаты будет учтены при формировании следующих тренировок. Расслабьтесь и настройтесь на плодотворную работу. Удачи!</p>
</ng-container>

<ng-container *ngIf="config.type === 'once'">
  <h2 class="trainer-h2">Заряжай мозги</h2>
  <p class="trainer-p">Небольшой набор из двух упражнений для поддержания ваших мозговых структур в тонусе. Тренировка общей продолжительностью не более 5 минут. Если справитесь быстрее, прекрасно! Расслабьтесь и настройтесь на плодотворную работу. Удачи!</p>
</ng-container>

<button
  class="button button--main"
  (click)="finish()"
  autofocus
>Начать тренировку</button>
