<h1 class="word">
  <span #dataNode class="word-text animate">{{ item && item.data }}</span>
</h1>

<svg
  *ngIf="matrix && matrix.length > 0"
  class="matrix"
  [attr.viewBox]="matrixViewBox"
  [attr.width]="matrixWidth"
  [attr.height]="matrixHeight"
  preserveAspectRatio="xMidYMid meet"
>
  <g
    *ngFor="let item of matrix"
    class="item"
    fastTouch (touch)="onTouch(item)"
  >
    <path
      class="fill-path"
      [class.success]="item.isSuccess"
      [class.error]="item.isError"
      [attr.d]="item.fillPath"
    ></path>
    <path
      class="path"
      [attr.d]="item.path"
    ></path>
    <text
      class="text"
      [attr.x]="item.x"
      [attr.y]="item.y"
      dominant-baseline="middle"
      text-anchor="middle"
    >{{ item.data }}</text>
  </g>
</svg>