:host {
  --sidebar-gap: 24px;
  --header-gap: 16px;

  display: block;
}

/* ======= Main ======= */

.main {
  padding-top: 64px;
  padding-bottom: 32px;
  padding-left: 16px;
  padding-right: 16px;
}

/* ======= Header ======= */

.header {
  --gap: var(--header-gap, 24px);

  display: flex;
  justify-content: flex-start;
  align-items: center;

  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 64px;

  padding-left: 8px;

  background-color: var(--color-primar);
  background-image: var(--background-gradient);
  background-size: 101% 50vh;
  background-position: center top;
  background-repeat: no-repeat;

  color: #fff;
  user-select: none;
}

.header--shadow {
  box-shadow: var(--shadow-header);
}

.h1 {
  display: block;
  flex-shrink: 0;

  margin: 0;
  margin-left: var(--gap);

  font-size: 24px;
  font-weight: 700;
  line-height: 1;
  text-transform: capitalize;

  white-space: nowrap;
}

.h1:empty {
  display: none;
}

@media (max-width: 600px) {
  .h1 {
    display: none;
  }
}

.header__notifications {
  margin-left: auto;
}

.header__user {
  margin-left: var(--gap);
}


/* ======= Sidebar ======= */

.sidebar {
  --gap: var(--sidebar-gap, 24px);

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  position: fixed;
  left: 0;
  top: 0;
  z-index: 666;

  height: 100vh;
  min-height: 100vh;
  max-height: 100vh;

  padding-top: var(--gap);
  padding-bottom: var(--gap);

  background-color: var(--color-background);

  user-select: none;

  visibility: hidden;
  box-shadow: var(--shadow-sidebar);
  transform: translateX(calc(-100% - 40px));

  transition:
    visibility 0s linear 250ms,
    transform 250ms ease 0s;
}

.sidebar::before {
  content: "";
  display: block;
  position: absolute;
  left: 100%;
  top: 0;
  width: calc(100vw + 100%);
  height: 100%;

  background-color: rgba(0, 0, 0, 0);
  transition:
    background-color 250ms ease 0s;
}

.sidebar--active {
  visibility: visible;
  transform: translateX(0);

  transition:
    visibility 0s linear 0s,
    transform 250ms ease 0s;
}

.sidebar--active::before {
  background-color: rgba(0, 0, 0, 0.7);
}

.sidebar__logo {
  display: block;

  flex-shrink: 0;
  width: 82px;
  height: 40px;

  margin-left: var(--gap);
  margin-right: var(--gap);

  color: var(--color-error);
  cursor: pointer;
}

.sidebar__user {
  flex-shrink: 0;
  max-width: 270px;
  margin-top: var(--gap);
}


/* ======= Sidebar navigation======= */

.sidebar__nav {
   --gap: var(--sidebar-gap, 24px);

  align-self: stretch;
  flex-grow: 1;
  flex-shrink: 0;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;

  margin-top: var(--gap);
  padding-right: var(--gap);
}

.sidebar__nav-link {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  flex-shrink: 0;
  width: 100%;

  margin-top: 8px;

  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: calc(var(--gap) - 4px);
  padding-right: var(--gap);

  background-color: transparent;
  border-left: 4px solid transparent;
  border-radius: 0 18px 18px 0;

  font-size: 16px;
  line-height: 1;
  text-decoration: none;
  color: inherit;

  --icon-size: 20px;

  transition: var(--transition-hover);
  transition-property: background-color, border-left-color, color;
}

.sidebar__nav-link:hover {
  background-color: var(--color-hover);
}

.sidebar__nav-link--active {
  color: var(--color-primar);
  border-left-color: var(--color-primar);
}

.sidebar__nav-link:last-child {
  margin-top: auto;
}

.sidebar__nav-caption {
  margin-left: 16px;
}


/* ======= Sidebar toggle button ======= */

.sidebar-toggle {
  width: 40px;
  height: 40px;
  padding: 0;

  border-radius: 50%;
}

.sidebar-toggle--bg {
  color: var(--color-text);
  background-color: var(--color-background);
  box-shadow: 0 2px 32px -8px rgba(0,0,0,.87);
}

.sidebar .sidebar-toggle {
  position: absolute;
  right: -20px;
  top: 12px;
}


/* ======= Hamburger ======= */

.hamburger {
  display: block;
  position: relative;

  flex-shrink: 0;
  width: 20px;
  height: 12px;

  background-image: linear-gradient(currentColor, currentColor);
  background-size: 100% 2px;
  background-position: center;
  background-repeat: no-repeat;
}

.hamburger::before,
.hamburger::after {
  content: "";
  display: block;

  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;

  background-color: currentColor;
}

.hamburger::before {
  top: 0;
}

.hamburger::after {
  bottom: 0;
}

.hamburger--arrow::before {
  transform: translate(-4px,1px) rotate(-34deg) scaleX(.7);
}
.hamburger--arrow::after {
  transform: translate(-4px,-1px) rotate(34deg) scaleX(.7);
}
