<svg
  class="matrix"
  [attr.viewBox]="matrixViewBox"
  [attr.width]="matrixWidth"
  [attr.height]="matrixHeight"
  preserveAspectRatio="xMidYMid meet"
  xmlns:xhtml="http://www.w3.org/1999/xhtml"
>
  <g>
    <path
      class="path"
      [attr.d]="matrix.path"
      [class.path--active]="isActive"
    ></path>
    <foreignObject
      class="object"
      [attr.x]="matrix.x"
      [attr.y]="matrix.y"
      [attr.width]="matrix.width"
      [attr.height]="matrix.height"
    >
      <ng-content></ng-content>
    </foreignObject>
  </g>
</svg>
