:host {
  --item-text-color: rgb(119, 110, 101);
  --item-background-color: rgba(238, 228, 218, .7);
  --item-border-color: rgb(187, 173, 160);
  --item-selected-color: #0273d4;
  --item-success-color: rgb(45, 169, 79, 0.7);
  --item-error-color: #f65e3b;

  --column-width: 200px;
  --row-height: 50px;
  --gap: 1px;
  --padding: 2px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
  min-width: 100%;
  flex: 1 1 100%;

  position: relative;
}

.h1 {
  display: block;
  margin: 0;
  margin-top: 32px;
  margin-bottom: 16px;

  padding: 0 8px;

  font-size: 18px;
  line-height: 1.2;
  text-align: center;
  font-weight: 600;
}

.matrix {
  display: block;
  width: auto;
  max-width: 100%;
  height: auto;

  margin-top: auto;
}

.item {
  cursor: pointer;
}

.path {
  stroke: var(--item-border-color);
  stroke-width: 1;
  fill: none;

  position: relative;
  z-index: 999;

  transition: stroke .25s;
}

.item--selected .path {
  stroke: var(--item-selected-color);
  stroke-width: 2;
}

.fill-path {
  stroke: none;
  stroke-width: 0;
  fill: transparent;
}

.text {
  font-family: inherit;
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
  text-transform: uppercase;

  color: var(--item-text-color);
  fill: currentColor;
}

.item--success .text {
  color: var(--item-success-color);
}

.item--error .text {
  color: var(--item-error-color);
}

.cursor {
  opacity: 0;
}

.item--selected .cursor {
  animation-name: trainer-words-columns__cursor;
  animation-duration: 1s;
  animation-iteration-count:infinite;
}

@keyframes trainer-words-columns__cursor {
  0% { opacity: 0; }
  50% { opacity: .7; }
  100% { opacity: 0; }
}

.button {
  margin-top: 32px;
  margin-bottom: 32px;
}

.keypad {
  margin-top: auto;
}