<!-- Арифметико-практическое мышление -->
<!-- Умение мыслить по аналогии -->
<h1 *ngIf="mode==='play'" class="trainer-h1">Найдите&nbsp;ответ<br>по&nbsp;аналогии&nbsp;с&nbsp;примерами</h1>
<h1 *ngIf="mode==='result'" class="trainer-h1">Ваш&nbsp;результат<br>&nbsp;</h1>

<div class="wrapper">
  <ng-container
    *ngFor="let item of items"
  >
    <div class="item-box">{{ item.data[0] }}</div>
    <div class="item-box">(</div>
    <div class="item-box">{{ item.data[1] }}</div>
    <div class="item-box">)</div>
    <div class="item-box">{{ item.data[2] }}</div>
    <div
      class="item-answer"
      [class.invisible]="!isAnswerShown"
    >{{ item.answer }}</div>
  </ng-container>
  <div class="item-box">{{ item.data[0] }}</div>
  <div class="item-box">(</div>
  <div class="item-box">
    <input
      type="number"
      class="input"
      [(ngModel)]="userData"
    >
  </div>
  <div class="item-box">)</div>
  <div class="item-box">{{ item.data[2] }}</div>
  <div
    class="item-answer"
    [class.invisible]="!isAnswerShown"
  >{{ item.answer }}</div>
</div>

<button
  class="button button--trainer button--answer"
  [class.invisible]="mode !== 'result' || isSuccess || isAnswerShown"
  (click)="showAnswer()"
>Показать решение</button>

<button
  *ngIf="mode === 'play'"
  class="button button--trainer"
  (click)="showResult()"
>Проверить</button>

<button
  *ngIf="mode === 'result'"
  class="button button--trainer"
  (click)="finish()"
>Продолжить</button>
