<h2 mat-dialog-title>Новое сообщение</h2>
<mat-dialog-content>
  <form class="form">
    <mat-form-field class="full-width">
      <mat-chip-list #chipList>
        <mat-chip *ngFor="let to of toList" [selectable]="true" [removable]="true" (removed)="remove(to)">
          {{to}}
          <mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip>
        <input placeholder="Кому..."
               [matChipInputFor]="chipList"
               [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
               [matChipInputAddOnBlur]="true"
               (matChipInputTokenEnd)="add($event)">
      </mat-chip-list>
    </mat-form-field>

    <mat-form-field class="message">
      <textarea matInput  placeholder="Сообщение" [(ngModel)]="message" name="message"></textarea>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button [mat-dialog-close]>Отмена</button>
  <button mat-button [mat-dialog-close]>Отправить</button>
</mat-dialog-actions>