.runes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

.rune {
  display: block;
  width: 1.6em;
  height: 1.6em;

  margin-top: calc(var(--trainer-margin) * 4);
  margin-left: 0.5em;
  margin-right: 0.5em;

  border-bottom: 3px solid var(--trainer-border-color);

  font-size: 200%;
  font-weight: 600;
  line-height: 1;
  text-align: center;
}

.rune:empty {
  border-bottom-color: var(--trainer-selected-color);
}

.rune:empty ~ .rune:empty {
  border-bottom-color: var(--trainer-border-color);
}

.rune-error {
  color: var(--trainer-error-color);
  border-bottom-color: currentColor;
}

.rune-success {
  color: var(--trainer-success-color);
  border-bottom-color: currentColor;
}

.hidden {
  width: 100%;
  height: 1px;
  opacity: 0;
  overflow: hidden;
  white-space: nowrap;
}