<!-- Точность восприятия - афоризмы -->
<h1 *ngIf="mode==='show'" class="h1">Запомните</h1>
<h1 *ngIf="mode==='play'" class="h1">Восстановите первые букавы каждого слова</h1>

<p
  class="p"
  [class.hide]="mode==='play'"
>{{ data }}</p>

<div
  class="runes"
  [class.hide]="mode==='show'"
>
  <span
    *ngFor="let item of runes"
    class="rune"
    [class.rune--success]="mode==='result' && item.rune === item.user"
    [class.rune--error]="mode==='result' && item.rune !== item.user"
  >{{ item.user }}</span>
</div>

<trainer-button
  *ngIf="mode === 'show'"
  class="button"
  value="Продолжить"
  (touch)="startPlay()"
></trainer-button>

<trainer-button
  *ngIf="mode === 'result'"
  class="button"
  value="Продолжить"
  (touch)="finish()"
></trainer-button>

