<form
  class="field"
  [formGroup]="mainForm"
  (ngSubmit)="onMainFormSubmit($event)"
>
  <picture
    class="avatar"
    [class.avatar--notset]="!avatar"
    aria-hidden="true"
  >
    <img *ngIf="avatar" class="avatar-img" [src]="avatar">
  </picture>

  <input
    type="text"
    class="input--main"
    formControlName="name"
    label="Имя"
  >

  <input
    type="text"
    class="input--main"
    formControlName="surname"
    label="Фамилия"
  >

  <select
    class="input--main"
    formControlName="gender"
    label="Пол"
  >
    <option
      *ngFor="let gender of genders"
      [ngValue]="gender"
    >{{gender.symbol}} {{gender.name}}</option>
  </select>

  <input
    type="date"
    class="input--main"
    formControlName="birthday"
    label="Дата рождения"
  >

   <select
    class="input--main"
    formControlName="country"
    label="Страна"
  >
    <option
      *ngFor="let country of countries"
      [ngValue]="country"
    >{{country.flag}} {{country.name}}</option>
  </select>

  <input
    type="text"
    class="input--main"
    formControlName="location"
    label="Город / Населенный пункт"
  >

  <button type="submit" class="submit button--main" [disabled]="!mainForm.valid">Внести изменения</button>
</form>

<form
  class="field"
  [formGroup]="emailForm"
  (ngSubmit)="onEmailFormSubmit($event)"
>
  <input
    type="email"
    class="input--main"
    formControlName="email"
    label="Текущий E-mail"
  >

  <input
    type="email"
    class="input--main"
    formControlName="newEmail"
    label="Новый E-mail"
  >

  <input
    type="password"
    class="input--main"
    formControlName="password"
    label="Ваш пароль"
  >

  <button type="submit" class="submit button--main" [disabled]="!emailForm.valid">Сменить E-mail</button>
</form>

<form
  class="field"
  [formGroup]="passwordForm"
  (ngSubmit)="onPasswordFormSubmit($event)"
>

  <input
    type="password"
    class="input--main"
    formControlName="currentPassword"
    label="Текущий пароль"
  >

  <input
    type="password"
    class="input--main"
    formControlName="password1"
    label="Новый пароль"
  >

  <input
    type="password"
    class="input--main"
    formControlName="password2"
    label="Новый пароль еще раз"
  >

  <button type="submit" class="submit button--main" [disabled]="!passwordForm.valid">Сменить пароль</button>
</form>