<!-- Слуховая память -->
<div *ngIf="mode === 'greeting'" class="text">
  <h2 class="trainer-h2">Развитие слуховой памяти</h2>
  <p>Далее вы послушайте аудио-историю. Постарайтесь расслабиться, воспринимать рассказ легко и с юмором. Для регулировки уровня громкости, используйте стандартные средства управления звуком, предусмотренные на вашем устройстве. Если на вашем устройстве присутствуют проблемы с воспроизведением звука, вы можите пропустить аудио-историю, установив флажок "без звука" в верхней части экрана. Но помните, развитие слуховой памяти крайне важный этап тренировки интеллекта.</p>
</div>

<button
  *ngIf="mode === 'greeting'"
  class="button button--trainer"
  (click)="startPlay()"
  focusable
>Прослушать</button>

<picture
  *ngIf="mode === 'play' && config.image >= 0"
  class="image"
>
  <source [srcset]="getSrcset(config.image, 'jpg')">
  <source [srcset]="getSrcset(config.image, 'webp')">
  <img [src]="getSrcset(config.image, 'jpg')">
</picture>


