<h1 class="h1" *ngIf="mode === 'show'">Запомните таблицу</h1>
<h1 class="h1" *ngIf="mode === 'play'">Востановить таблицу</h1>
<h1 class="h1" *ngIf="mode === 'result'">Результат</h1>
<svg
  *ngIf="matrix && matrix.length > 0"
  class="matrix"
  [attr.viewBox]="matrixViewBox"
  [attr.width]="matrixWidth"
  [attr.height]="matrixHeight"
  xmlns="http://www.w3.org/2000/svg"
  draggable="false"
>
  <defs>
    <path id="success" d="M5 25l3-3c4 2 7 3 11 7 9-10 14-15 25-21l1 2c-9 8-15 16-24 32L5 25z"></path>
    <path id="error" d="M32 5l-6-5-10 12L6 0 0 6l11 11L0 30l2 2 14-11 13 11 2-2-11-13L32 5z"></path>
    <ng-container
      *ngFor="let item of items; let i = index"
    >
      <image
        [attr.id]="i"
        [attr.width]="shapeWidth"
        [attr.height]="shapeHeight"
        [attr.xlink:href]="item.data"
        preserveAspectRatio="xMinYMin slice"
      ></image>
    </ng-container>
  </defs>
  <g
    *ngFor="let item of matrix; let i = index"
    [attr.matrixIndex]="i"
    class="item"
    (pointerdown)="onPointerDown($event, item.userData)"
    (touchstart)="onTouchStart($event, item.userData)"
    (mousedown)="onMouseDown($event, item.userData)"
  >
    <path
      class="fill-path"
      [attr.d]="item.fillPath"
    ></path>
    <path
      class="path"
      [attr.d]="item.path"
    ></path>
    <use
      *ngIf="item.data >= 0"
      class="image"
      [class.image--hide]="mode !== 'show'"
      [attr.href]="'#' + item.data"
      [attr.x]="item.x"
      [attr.y]="item.y"
    ></use>
    <use
      *ngIf="item.userData >= 0"
      class="image"
      [class.image--hide]="mode !== 'play'"
      [attr.href]="'#' + item.userData"
      [attr.x]="item.x"
      [attr.y]="item.y"
    ></use>
    <use
      class="success-icon"
      href="#success"
      [class.success-icon--show] = "mode === 'result' && item.userData === item.data"
      [attr.x]="item.x + 15"
      [attr.y]="item.y + 15"
    ></use>
    <use
      class="error-icon"
      href="#error"
      [class.error-icon--show] = "mode === 'result' && item.userData !== item.data"
      [attr.x]="item.x + 25"
      [attr.y]="item.y + 25"
    ></use>
  </g>

  <g
    *ngFor="let item of items; let i = index"
    class="item"
    [class.item--hide]="mode !== 'play'"
    (pointerdown)="onPointerDown($event, i)"
    (touchstart)="onTouchStart($event, i)"
    (mousedown)="onMouseDown($event, i)"
  >
    <path
      class="fill-path"
      [attr.d]="item.fillPath"
    ></path>
    <path
      class="path"
      [attr.d]="item.path"
    ></path>
    <use
      [attr.href]="'#' + i"
      [attr.x]="item.x"
      [attr.y]="item.y"
    ></use>
  </g>
</svg>
<img
  *ngIf = "current"
  class="movement"
  [style.transform] = "current.transform"
  [src]="urlSanitize(items[current.data].data)"
  draggable="false"
>