.loader-grid {
  margin-top: 0;
  margin-bottom: auto;
  color: var(--color-middle);
}

.wrapper {
  width: 300px;
}

.trainer-p {
  text-align: center;
}

.button {
  margin-top: calc(var(--trainer-margin) * 4);
  margin-bottom: auto;
}