<div class="field" *ngIf="config" (click)="onClick()">
  <!-- <svg viewBox="0 0 500 400" (mousemove)="onMove($event)" (mouseup)="onUp($event)">
    <ng-container *ngFor="let c of config.matrix">
      <ellipse *ngIf="c.figure.type === 'ellipse'" [attr.cx]="c.point.x" [attr.cy]="c.point.y" [attr.rx]="c.figure.rx" [attr.ry]="c.figure.ry" [style.fill]="c.figure.fill" [style.stroke]="c.figure.stroke" (mousedown)="onDown($event, c)"></ellipse>
      <polygon *ngIf="c.figure.type === 'polygon'" [attr.points]="points(c.figure, c.point)" [style.fill]="c.figure.fill" [style.stroke]="c.figure.stroke" (mousedown)="onDown($event, c)"></polygon>
    </ng-container>
  </svg> -->
</div>
