
.budget-result {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.budget-result__column {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;

  margin-top: calc(var(--global-gap) * 2);
}

.budget-result__column--col {
  flex-direction: column;
  align-items: flex-start;
}

.budget-result__column > div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.budget-result__column > div + div {
  margin-top: calc(var(--global-gap) * 2);
}

@media (min-width: 700px) {
  .budget-result {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .budget-result__column {
    flex: 0 0 calc(50%);
  }

  .budget-result__column--col {
    flex: 0 0 100%;
    flex-direction: row;
    justify-content: space-around;
  }

  .budget-result__column > div {
    flex: 0 0 calc(50%);
  }

  .budget-result__column > div + div {
    margin-top: 0;
  }
}

@media (min-width: 1000px) {
  .budget-result__column {
    flex: 0 0 calc(33%);
  }

  .budget-result__column--col {
    flex: 0 0 calc(33%);
    flex-direction: column;
    justify-content: flex-start;
  }

  .budget-result__column > div {
    flex: 0 0 auto;
  }

  .budget-result__column > div + div {
   margin-top: calc(var(--global-gap) * 2);
  }
}




.budget-result__column svg {
  width: 40px;
  height: 40px;
}

.budget-result__column h3 {
  margin-left: var(--global-gap);
  font-weight: 400;
}

.budget-result__column h3 span {
  font-size: 90%;
}

.budget-result__list {
  flex: 0 0 100%;
  min-width: 100%;

  margin: 0;
  padding: 0;
}

.budget-result__list li {
  list-style: none;

  margin: 0;
  margin-left: calc(40px + var(--global-gap));
  padding: 0;
  padding-top: calc(var(--global-gap) * 0.5);

  font-size: 14px;
  line-height: 1.44;
}

.budget-p {
  margin-top: var(--global-gap);
}

.budget-button {
  font-weight: 600;
  font-size: 17px;
  margin-top: var(--global-gap);
}

.budget-result__error {
  font-size: 18px;
  font-weight: 600;
  width: 100%;
  text-align: center;
  color: var(--color-primar);
}