.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  padding-top: calc(var(--global-gap) * 2);
  padding-bottom: calc(var(--global-gap) * 2);
}

@media (min-width: 750px) {
  .footer {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
  }
}

.footer__links {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;

  margin: 0;
  margin-top: calc(var(--global-gap) * 0.5);
  padding: 0;
}

@media (min-width: 750px) {
  .footer__links {
    flex-direction: row;
    align-items: flex-start;
  }
}

.footer__links + .footer__links {

}

.footer__link-wrapper {
  display: block;
  list-style: none;
  line-height: 1;
  margin-top: calc(var(--global-gap) * 0.5);
}

@media (min-width: 750px) {
  .footer__link-wrapper {
    margin-top: 0;
    margin-left: 1em;
  }
}

.footer__link {
  font-size: 80%;
  color: var(--color-second);
  transition: var(--transition-hover);
  transition-property: color;
}

/* .footer__link:hover {
  color: var(--color-primar);
} */

.footer__logo {
  display: block;
  width: 82px;
  color: var(--color-primar);
}

.footer__logo svg {
  display: block;
  width: 100%;
  height: auto;
  color: inherit;
}

.footer__logo path {
  color: inherit;
  fill:  currentColor;
}

.footer__copy {
  min-width: 100%;
  display: block;


  max-width: 1000px;
  margin: calc(var(--global-gap) * 2) auto 0;

  font-size: 80%;
  line-height: 1.618;

  text-align: center;
}

@media (min-width: 750px) {
  .footer__copy {
    text-align: right;
  }
}