.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  margin: 0;
  padding: 0 1em;

  height: 48px;
  width: auto;

  color: inherit;
  border: 0 none;
  border-radius: 4px;

  background-color: var(--color-extra);
  background-image: linear-gradient(var(--color-hover), var(--color-hover));
  background-size: 0% 0%;
  background-position: center;
  background-repeat: no-repeat;

  color: var(--color-text-white);

  transition-duration: 100ms;
  transition-timing-function: ease;
  transition-property: background-size;

  font-size: inherit;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;

  cursor: pointer;
  user-select: none;
  position: relative;
  overflow: hidden;
}

.button:hover {
  background-size: 100% 100%;
}

.button[disabled] {
  background-image: none;
  background-color: var(--color-disabled);
  cursor: default;
}

.button--green {
  background-color: var(--color-success);
}
