
.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  margin: 0;
  padding: 0 1em;

  height: 48px;
  width: auto;

  color: inherit;
  border: 0 none;
  border-radius: 4px;

  --bg-color-start: rgba(0,0,0,0);
  --bg-color-end: rgba(0,0,0,0);

  background-color: rgba(0,0,0,0);
  background-image:
    linear-gradient(var(--color-hover), var(--color-hover)),
    linear-gradient(90deg, var(--bg-color-start), var(--bg-color-end));
  background-size: 0% 0%, 100%;
  background-position: center;
  background-repeat: no-repeat;

  transition-duration: 100ms;
  transition-timing-function: ease;
  transition-property: background-size;

  font-size: inherit;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;

  cursor: pointer;
  user-select: none;
  position: relative;
  overflow: hidden;
}

.button:hover {
  background-size: 100% 100%, 100%;
}

.button[disabled] {
  background-image: none;
  background-color: var(--color-disabled);
  cursor: default;
}

.button--main {
  --bg-color-start: var(--color-second);
  --bg-color-end: var(--color-middle);
  background-color: var(--bg-color-start);
  color: var(--color-white);
}

.button--green {
  --bg-color-start: var(--color-success);
  --bg-color-end: var(--color-success);
  background-color: var(--bg-color-start);
  color: var(--color-white);
}

