.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 666;

  width: 100%;
  height: 64px;

  background-color: var(--color-background);
  color: var(--color-text-black);
  box-shadow: var(--shadow-header);
}

.header__content-wrapper {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  height: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 var(--global-gap);
}

.header__link {
  display: none;
  justify-content: flex-start;
  align-items: center;

  color: inherit;
  text-decoration: none;
  margin-left: calc(var(--global-gap) * 1.5);

  font-size: 16px;
  line-height: 1;

  opacity: 0.95;
  transition: var(--transition-hover);
  transition-property: opacity, color;
}

.header__link__colors {
  opacity: 0;
  transition: var(--transition-hover);
  transition-property: opacity;
}

.header__link:hover {
  opacity: 1;
  color: var(--color-extra);
}

.header__link:hover .header__link__colors {
  opacity: 1;
}

@media (min-width: 900px) {
  .header__link {
     display: flex;
  }
}

.header__link--phone {
  display: block;
  flex: 0 0 calc(33.3% - var(--global-gap));
  min-width: 250px;
  max-width: calc(33.3% - var(--global-gap));

  margin-left: 0;

  font-size: 30px;
  text-align: center;
}

@media (min-width: 400px) {
  .header__link--phone {
     min-width: 280px;
  }
}

.header__link span {
  margin-left: calc(var(--global-gap) * 0.5);
}

.header__logo {
  display: block;
  width: 66px;
  height: 32px;
  color: var(--color-primar);
  margin-right: auto;
}

.header__logo svg {
  display: block;
  width: 100%;
  height: 100%;
  color: inherit;
}

.header__logo path {
  color: inherit;
  fill:  currentColor;
}


