.ipad {
  flex: 0 0 400px;
  width: 400px;
  height: 255px;
  background-color: white;
  background-image: none;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  box-sizing: border-box;
  border-radius: 9px;
  border-top: 10px solid white;
  border-bottom: 10px solid white;
  border-left: 24px solid white;
  border-right: 30px solid white;
  box-shadow: 0 0 0 2px rgba(255,255,255,0.3),
              0 0 0 3px silver,
              0 0 30px rgba(0,0,0,0.3);
  position: relative;
  transition: all .5s;
}

.ipad:before, .ipad:after {
  content: '';
  position: absolute;
  border-radius: 50%;
  top: 50%;
}

.ipad:before {
  left: 0;
  width: 5px;
  height: 5px;
  background: #333;
  margin-left: -14px;
  margin-top: -10px;
}

.ipad:after {
  right: 0;
  width: 13px;
  height: 13px;
  margin-right: -22px;
  margin-top: -10px;
  box-shadow: 0 0 0 1px rgba(255,255,255,0.1),
              0 0 0 2px rgba(0,0,0,0.2);
}
