.records {
  --columns: 1;

  display: grid;
  grid-template-columns: repeat(var(--columns), 200px);
  grid-auto-rows: min-content;
  gap: var(--margin);

  justify-content: space-evenly;
}

@media (min-width: 600px) {
  .records {
    --columns: 2;
  }
}

@media (min-width: 900px) {
  .records {
    --columns: 4;
    justify-content: space-between;
  }
}

.records__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.records__item-image {
  display: block;
  width: 128px;
  height: 128px;
}

.records__item-text {
  margin-top: var(--margin);

  font-size: 110%;
  font-weight: 600;
  text-align: center;
}

/*
.section-records {
  display: block;

  width: 100%;
  min-width: 100%;
  max-width: 100%;
  height: auto;

  padding: 64px 16px 80px 16px;

  background-color: transparent;
}

.section-records__content-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  max-width: 960px;
  margin: 0 auto;
  padding: 0;
}

.section-records__item {
  display: block;
  margin: 32px;
  padding: 0;

  max-width: 25%;
  width: calc(25% - 32px);
}

.section-records__item svg {
  display: block;
  margin: 0 auto;
}

.section-records__item figcaption {
  margin-top: 16px;

  font-size: 17px;
  font-weight: 600;
  line-height: 1.618;
  text-align: center;
}

 */