
.request-form {
  position: relative;
  overflow: visible;

  flex: 0 0 calc(33.3% - var(--global-gap));
  min-width: calc(33.3% - var(--global-gap));

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  padding: var(--global-gap);

  background-color: var(--color-success);
  color: var(--color-text-white);

  box-shadow: var(--shadow-card);
}

@media (min-width: 700px) {
  .request-form {
    flex: 0 0 calc(33.3% - var(--global-gap));
    min-width: 280px;
    max-width: calc(33.3% - var(--global-gap));

  }
}

.request-form::before {
  content: "";
  display: block;
  position: absolute;

  left: 0;
  top: 100%;
  width: 50%;
  height: 40px;

  background-image: linear-gradient(to top left,
                      rgba(0,0,0,0) 0%,
                      rgba(0,0,0,0) calc(50% - 0.8px),
                      var(--color-success) 50%,
                      var(--color-success) calc(50% + 0.8px),
                      var(--color-success) 100%);
  background-repeat: no-repeat;
  background-size: 100%;
}

.request-form::after {
  content: "";
  display: block;
  position: absolute;

  right: 0;
  top: 100%;
  width: 50%;
  height: 40px;

  background-image: linear-gradient(to top right,
                      rgba(0,0,0,0) 0%,
                      rgba(0,0,0,0) calc(50% - 0.8px),
                      var(--color-success) 50%,
                      var(--color-success) calc(50% + 0.8px),
                      var(--color-success) 100%);
  background-repeat: no-repeat;
  background-size: 100%;
}

.request-form__label {
  display: block;
  width: 100%;

  margin-top: var(--global-gap);

  font-size: 17px;
  font-weight: 400;
  line-height: 1.44;
}

.request-form__input {
  display: block;
  width: 100%;

  height: 44px;

  margin-top: calc(var(--global-gap) * 0.5);
  padding: 0 0.25em;

  border: 1px solid rgba(27,31,35,.13);
  border-radius: 4px;
  box-shadow: inset 0 1px 2px rgba(27,31,35,.075);

  font-size: 17px;
  line-height: 1;
}

.request-form__input--textarea {
  resize: vertical;

  height: 96px;
  padding: 0.25em;
  line-height: 1.2;
}

.request-form__button {
  margin: 0 auto;
  margin-top: var(--global-gap);
}

.request-form__success,
.request-form__error,
.request-form__loader {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;

  padding: var(--global-gap);
  background-color: var(--color-success);
}

.request-form__success h3,
.request-form__success p,
.request-form__error h3,
.request-form__error p {
  text-align: center;
}

.request-form__error h3 {
  color: var(--color-primar);
}

.request-form__error a {
  color: inherit;
  text-decoration: underline;
}

.request-form--success .request-form__success,
.request-form--error .request-form__error,
.request-form--loader .request-form__loader {
  display: flex;
}