:root {
  --color-background: rgb(250, 250, 250);

  --color-text-black: rgba(0, 0, 0, 0.87);
  --color-text-white: rgb(255, 255, 255, 0.98);

  --color-backdrop: rgba(15, 17, 19, 0.68);
  --color-hover: rgba(0, 0, 0, 0.07);

  --color-gray: rgba(0, 0, 0, 0.16);
  --color-gray-light: rgba(0, 0, 0, 0.04);

  --color-primar: rgb(227, 30, 37);
  --color-second: rgb(3, 169, 244);
  --color-extra: rgb(33,125,213);

  --color-success: rgb(45, 169, 79);

  --global-gap: 16px;

  --shadow-card: 0px 1px 5px -2px rgba(80,80,80, 0.2);

  --shadow-header:
    0px 1px 8px 0px rgba(80,80,80, 0.2),
    0px 3px 4px 0px rgba(80,80,80, 0.14),
    0px 3px 3px -2px rgba(80,80,80, 0.12);

  --transition-hover: 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}
