.vll {
  color: rgb(255, 255, 255);
}

@media (min-width: 960px) {
  .vll {
    --text-width: 550px;
    color: inherit;
  }
}

.vll__wrapper {
  display: flex;
  justify-content: center;
}

.vll__picture {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

@media (min-width: 960px) {
  .vll__picture {
    width: calc((100vw - var(--max-width)) / 2 + var(--max-width) - var(--text-width) - var(--margin) * 3);
  }
}

.vll__picture::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.64);
}

@media (min-width: 960px) {
  .vll__picture::after {
    display: none;
  }
}

.vll__picture img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top center;
}

.vll__text-box {
  max-width: var(--text-width);
  margin: 0 auto;
}

@media (min-width: 960px) {
  .vll__text-box {
    margin-right: 0;
  }
}