:host {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.field {
  display: grid;
  margin: 64px 64px 0 0;
  grid-auto-rows: 50px;
  gap: 2px;
}

.field div {
  border: 1px solid #ddd;
  border-radius: 5px;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 18px;
  font-weight: 700;
}

.field div img {
  width: 80%;
  height: 80%;
}