<h1 class="mat-h1 h1">Школа</h1>
<div class="school mat-elevation-z3">

  <h2 class="mat-h2 school-h2">{{ item.title }}</h2>

  <div class="school-info">
    <span class="school-info-label">Город</span>
    <span>Екатеринбург</span>
    <span class="school-info-label">Адресс</span>
    <span>Екатеринбург, Бажова 70</span>
    <span class="school-info-label">Руководитель</span>
    <span><a href="#">Васильева Лидия Львовна</a></span>
    <span class="school-info-label">Рейтинг</span>
    <span>
      <mat-icon>star</mat-icon>
      <mat-icon>star</mat-icon>
      <mat-icon>star</mat-icon>
      <mat-icon>star</mat-icon>
      <mat-icon>star_half</mat-icon>
    </span>
  </div>
</div>
<mat-tab-group class="wrapper mat-elevation-z3">
  <mat-tab label="Показатели">
    <schools-item-indicators></schools-item-indicators>
  </mat-tab>
  <mat-tab label="Информация">

  </mat-tab>
  <mat-tab label="Новости">

  </mat-tab>
  <mat-tab label="Офисы">

  </mat-tab>
  <mat-tab label="Преподаватели">

  </mat-tab>
  <mat-tab label="Группы">

  </mat-tab>
  <mat-tab label="Ученики">

  </mat-tab>
</mat-tab-group>