:host {
  display: block;

  padding: 16px;

  border-radius: 9px;

  background-color: var(--color-background);
  box-shadow: var(--shadow-field);
}

.input {
  margin-top: 0;
}

.avatar {
  display: flex;
  justify-content: center;
  align-items: center;

  flex-shrink: 0;
  width: 110px;
  height: 110px;

  background-color: var(--color-primar);
  /* box-shadow: 0 2px 16px -4px var(--color-second); */
  border-radius: 50%;

  overflow: hidden;
  position: relative;

  justify-self: center;
  align-self: center;
}

.avatar::before {
  content: attr(data-letter);
  display: block;

  flex-shrink: 0;
  margin-top: -0.1666em;

  font-size: 36px;
  font-weight: 700;
  line-height: 1;

  color: #fff;
  text-transform: uppercase;
}

.avatar__img {
  display: block;

  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;

  border-radius: 50%;
}

.form {
  display: grid;

  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: min-content;

  gap: 16px;
}

.avatar {
  grid-column-start: 1;
  grid-column-end: span 1;
  grid-row-start: 1;
  grid-row-end: span 2;
}

.name, .surname {
  grid-column-start: span 3;
  grid-column-end: -1;
}

.gender {
  align-self: end;
}

.birthday {
  grid-column-end: span 3;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: min-content;

  row-gap: 16px;
  column-gap: 8px;
}

.birthday-h4 {
  grid-column-start: 1;
  grid-column-end: -1;

  margin: 0;
  padding: 0;

  font-size: 90%;
  font-weight: 400;
  line-height: 1.2;

  text-transform: uppercase;

  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.32), rgba(0, 0, 0, 0.32));
  background-size: 100% 1px;
  background-position: 50%;
  background-repeat: no-repeat;

  display: flex;
  justify-content: center;
  align-self: center;
}

.birthday-h4 span {
  padding: 0 1em;
  background-color: var(--color-background);
}

.country, .location {
  grid-column-end: span 2;
}

.submit {
  grid-column-start: 1;
  grid-column-end: -1;
  justify-self: center;
  align-self: center;
}

@media (max-width: 600px) {
  .form {
    grid-template-columns: 1fr;
  }

  .name, .surname {
    grid-column-start: span 1;
  }

  .birthday {
    grid-column-end: span 1;
  }

  .country, .location {
    grid-column-end: span 1;
  }
}