<svg
  viewBox="0 0 17441 11811"
  class="field"
  [class.play-mode]="config.mode === 'play'"
  (mousemove)="onMove($event)"
  [innerHtml]="carpet"
>
  <!-- <ng-container *ngFor="let item of matrix">
    <ng-container *ngIf="item">
      <ellipse
        *ngIf="item.shape.type === 'ellipse'"
        [attr.cx]="item.x"
        [attr.cy]="item.y"
        [attr.rx]="item.shape.value[0][0]"
        [attr.ry]="item.shape.value[0][1]"
        [style.fill]="item.shape.fill"
        [style.stroke]="item.shape.stroke"
        (mousedown)="onDown($event, item)"
      ></ellipse>
      <polygon
        *ngIf="item.shape.type === 'polygon'"
        [attr.points]="points(item)"
        [style.fill]="item.shape.fill"
        [style.stroke]="item.shape.stroke"
        (mousedown)="onDown($event, item)"
      ></polygon>
    </ng-container>
  </ng-container> -->
</svg>
