<!-- Наглядно-образная память -->
<h1 *ngIf="mode==='show'" class="trainer-h1">Запомните&nbsp;картинку<br>&nbsp;</h1>
<h1 *ngIf="mode==='play'" class="trainer-h1">Восстановите&nbsp;картинку<br>по&nbsp;памяти</h1>

<svg
  class="matrix"
  [attr.viewBox]="matrixViewBox"
  [attr.width]="matrixWidth"
  [attr.height]="matrixHeight"
  xmlns="http://www.w3.org/2000/svg"
  xmlns:xlink="http://www.w3.org/1999/xlink"
  preserveAspectRatio="xMidYMid meet"
>
  <path
    *ngFor="let item of items"
    class="path"
    [attr.d]="item.path"
    [attr.fill]="item.fill"
  ></path>
</svg>

<button
  *ngIf="mode==='show'"
  class="button button--trainer"
  (click)="startPlay()"
>Продолжить</button>

<button
  *ngIf="mode==='play'"
  class="button button--trainer"
  (click)="showResult()"
>Проверить</button>

<button
  *ngIf="mode === 'result'"
  class="button button--trainer"
  (click)="finish()"
>Продолжить</button>