:root {
  --trainer-text-color: rgba(119, 110, 101);

  --trainer-background-color: rgba(238, 228, 218, 0.72);
  --trainer-hover-color: rgba(238, 228, 218, 1);
  --trainer-border-color: rgb(187, 173, 160);

  --trainer-hover-transition-time: 150ms;

  --trainer-selected-color: rgb(2, 115, 212);

  --trainer-error-color: rgb(237, 63, 44);
  --trainer-error-color-light: rgba(237, 63, 44, 0.7);
  --trainer-error-background-color: rgba(237, 63, 44, 0.3);

  --trainer-success-color: rgb(45, 169, 79);
  --trainer-success-color-light: rgba(45, 169, 79, 0.7);
  --trainer-success-background-color: rgba(45, 169, 79, 0.3);

  --trainer-svg-height: 50px;
  --trainer-svg-padding: 2px;
  --trainer-box-size: 100px;
  --trainer-icon-size: 80px;

  --trainer-button-padding-vertical: 16px;
  --trainer-button-padding-horizontal: 24px;

  --trainer-margin: 8px;
}

@media (max-width: 400px) {
  :root {
    --trainer-svg-height: 40px;
    --trainer-margin: 4px;
  }
}

.trainer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
  min-width: 100%;
  flex: 1 1 100%;
  max-height: 100%;

  margin: 0;
  padding: 8px;
  padding-top: 34px;
  padding-bottom: 16px;

  font-family: inherit;
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
  text-align: left;

  overflow: hidden;
}

@media (max-width: 400px) {
  .trainer {
    font-size: 14px;
  }
}

.trainer h1, .trainer-h1,
.trainer h2, .trainer-h2,
.trainer h3, .trainer-h3,
.trainer p, .trainer-p {
  display: block;

  grid-column-start: 1;
  grid-column-end: -1;

  flex-shrink: 0;
  flex-grow: 0;
  flex-basis: auto;

  width: 100%;
  max-width: 666px;

  margin: 0;
  padding: 0;

  font-family: inherit;
}

.trainer h1,
.trainer-h1 {
  margin-bottom: auto;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.2;
  text-align: center;
}

@media (max-width: 400px) {
  .trainer h1, .trainer-h1 {
    font-size: 16px;
  }
}

.trainer h2, .trainer-h2 {
  margin-top: calc(var(--trainer-margin) * 2);
  font-size: 18px;
  font-weight: 600;
  line-height: 1.2;
  text-align: center;
}

@media (max-width: 400px) {
  .trainer h2, .trainer-h2 {
    font-size: 16px;
  }
}

.trainer h3, .trainer-h3 {
  margin-top: calc(var(--trainer-margin) * 2);
  font-size: 16px;
  font-weight: 600;
  line-height: 1.35;
  text-align: center;
}

@media (max-width: 400px) {
  .trainer h3, .trainer-h3 {
    font-size: 14px;
  }
}

.trainer p, .trainer-p {
  margin-top: var(--trainer-margin);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.35;
  text-align: left;
}

@media (max-width: 400px) {
  .trainer p .trainer-p {
    font-size: 14px;
  }
}

/* Trainer text box style */

.trainer-text {
  margin-left: 0;
  margin-right: 0;
  margin-top: calc(var(--trainer-margin) * 5);
  margin-bottom: 0;
}

.trainer-text span {
  display: inline;
}