:host {
  --text-padding: 24px;

  display: flex;
  width: auto;
  max-width: 100%;
  height: auto;
  max-height: 100%;

  font-size: inherit;
  font-weight: 600;
}

.matrix {
  display: block;
  width: auto;
  height: auto;

  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

.item {
  cursor: pointer;
}

.path {
  stroke: var(--trainer-border-color);
  stroke-width: 1;
  fill: none;
}

.item--active .path {
  stroke: var(--trainer-selected-color);
  stroke-width: 2;
}

.fill-path {
  stroke: none;
  stroke-width: 0;
  fill: var(--trainer-background-color);
}

.text {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: 1;
  text-transform: uppercase;

  color: var(--trainer-text-color);
  fill: currentColor;

  transition: color .25s;
}

.item:hover .text {
  color: var(--trainer-selected-color);
}
