:host {
  --padding-top: 16px;
  --padding-bottom: 16px;
  --padding-left: 24px;
  --padding-right: 24px;

  display: flex;
  width: auto;
  max-width: 100%;
  height: auto;
  max-height: 100%;

  margin-left: 0;
  margin-right: 0;
  margin-top: calc(var(--trainer-margin) * 5);
  margin-bottom: auto;

  font-size: inherit;
  font-weight: 600;
}

.matrix {
  display: block;
  width: auto;
  height: auto;

  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

.item {
  cursor: pointer;
}

.path {
  stroke: var(--trainer-border-color);
  stroke-width: 1;
  fill: none;
}

.item--focus .path {
  stroke: var(--trainer-selected-color);
  stroke-width: 2;
}

.fill-path {
  stroke: none;
  stroke-width: 0;
  fill: var(--trainer-background-color);
}

.item--active .fill-path {
  fill: var(--trainer-hover-color);
}

.text {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;

  line-height: 1;
  text-transform: uppercase;
  text-decoration: none;

  color: var(--trainer-text-color);
  fill: currentColor;

  transition: color .25s;
}

.item:hover .text {
  color: var(--trainer-selected-color);
}
