:host {
  display: grid;
  grid-template-columns: min-content auto min-content;
  grid-template-rows: min-content min-content;
  gap: 24px;

  background-color: var(--color-background);
  box-shadow: var(--shadow-card);

  padding: 24px;

  border-radius: 8px;

  user-select: none;
}

@media (max-width: 700px) {
  :host {
    gap: 16px;
    padding: 16px;
  }
}

.card-icon,
.calendar-icon {
  display: block;
  align-self: center;
  justify-self: center;

  width: 46px;
  height: 46px;

  margin: 0;
  padding: 0;
}

.card-number {
  display: block;
  margin: 0;
  padding: 0;

  align-self: center;

  font-size: 18px;
  font-weight: 600;
}

.payment-date {
  display: block;
  margin: 0;
  padding: 0;

  align-self: center;

  font-size: 16px;
}



.button {
  white-space: nowrap;
}
