<article class="article" [innerHtml]="htmlSanitize(config.body)"></article>

<svg
  *ngIf="matrix && matrix.length > 0"
  class="matrix"
  [attr.viewBox]="matrixViewBox"
  [attr.width]="matrixWidth"
  [attr.height]="matrixHeight"
>
  <g
    *ngFor="let item of matrix"
    class="item"
    [class.selected]="item.isSelected"
    (click)="onAnswerClick(item)"
  >
    <path
      class="fill-path"
      [attr.d]="item.fillPath"
    ></path>
    <path
      class="path"
      [attr.d]="item.path"
    ></path>
    <image
      *ngIf="config.itemsType === 'image'"
      class="image"
      [attr.x]="item.x"
      [attr.y]="item.y"
      [attr.width]="shapeWidth"
      [attr.height]="shapeHeight"
      [attr.xlink:href]="item.data"
      preserveAspectRatio="xMinYMin slice"
    ></image>
    <text
      *ngIf="config.itemsType === 'text'"
      class="text"
      [attr.x]="item.x"
      [attr.y]="item.y"
      dominant-baseline="middle"
      text-anchor="middle"
    >{{ item.data }}</text>
  </g>
</svg>

<button
  *ngIf="config.multiple"
  class="button button--main"
  (click)="onButtonClick()"
>
  <span>Продолжить</span>
</button>
