<article class="article" [innerHtml]="body"></article>

<svg
  *ngIf="palette"
  class="palette"
  [attr.viewBox]="paletteViewBox"
  [attr.width]="paletteWidth"
  [attr.height]="paletteHeight"
>
  <g
    *ngFor="let item of palette"
    class="palette-item"
    [class.selected]="item.isSelected"
    (click)="onAnswerClick(item)"
  >
    <path
      class="fill-path"
      [attr.d]="item.fillPath"
    ></path>
    <path
      class="path"
      [attr.d]="item.path"
    ></path>
    <image
      *ngIf="config.itemsType === 'image'"
      class="image"
      [attr.x]="item.x"
      [attr.y]="item.y"
      [attr.width]="shapeWidth"
      [attr.height]="shapeHeight"
      [attr.xlink:href]="item.data"
      preserveAspectRatio="xMinYMin slice"
    ></image>
    <text
      *ngIf="config.itemsType === 'text'"
      class="text"
      text-anchor="middle"
      [attr.x]="item.x"
      [attr.y]="item.y"
      dominant-baseline="middle"
      text-anchor="middle"
    >{{ item.data }}</text>
  </g>
</svg>

<button
  *ngIf="config.button"
  class="button button--main"
  (click)="onButtonClick()"
>
  <span>{{ config.button }}</span>
</button>
