<article class="article" [innerHtml]="body"></article>

<div
  *ngIf="config.items"
  class="answers"
>
  <div
    *ngFor="let item of config.items"
    class="answer"
    (click)="onAnswerClick(item)"
    [class.image] = "item.type === 'image'"
    [class.selected] = "item.isSelected"
  >
    <img *ngIf="item.type === 'image'" [src]="sanitizeURL(item.data)">
    <span *ngIf="item.type === 'text'">{{ item.data }}</span>
  </div>
</div>

<button
  *ngIf="config.button"
  class="button"
  (click)="onButtonClick()"
>
  <span>{{ config.button }}</span>
</button>
