<!-- Арифметико-практическое мышление -->
<!-- Умение мыслить по аналогии -->
<h1 *ngIf="mode==='play'" class="trainer-h1">Найдите<br>число-исключение</h1>
<h1 *ngIf="mode==='result'" class="trainer-h1">Ваш&nbsp;результат<br>&nbsp;</h1>

<trainer-selector
  class="selector"
  type="text"
  [readonly]="mode==='result'"
  [items]="items"
  (touch)="result()"
></trainer-selector>

<p
  class="text"
  [class.invisible]="mode !== 'result'"
>{{ this.config.answer }}</p>

<button *ngIf="mode==='play'" trainerButton invisible disabled (click)="result()">Проверить</button>
<button *ngIf="mode==='result'" trainerButton (click)="finish()">Продолжить</button>