.svg {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: visible;
}

.path {
  stroke: var(--trainer-border-color);
  stroke-width: 1;
  fill: none;

  transition: stroke .25s;
}

.trainer .input {
  padding: 0 .7em;
}

.trainer.focus .path {
  stroke: var(--trainer-selected-color);
  stroke-width: 2;
}

.trainer.success {
  color: var(--trainer-success-color)
}

.trainer.success .path {
  stroke: var(--trainer-success-color);
  stroke-width: 2;
}

.trainer.error {
  color: var(--trainer-error-color)
}

.trainer.error .path {
  stroke: var(--trainer-error-color);
  stroke-width: 2;
}