:host {
  background-color: var(--color-warning);
  color: #fff;

  cursor: pointer;
  user-select: none;
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  min-height: 160px;
}

.h3 {
  margin: 0;
  padding: 0;

  font-size: 16px;
  font-weight: 500;
  line-height: 1;

  text-align: center;
  text-transform: uppercase;
}

.image {
  position: absolute;
  bottom: -14px;
  left: 50%;
  width: 120px;
  height: 120px;

  transform: translate(-50%, 0);
}

.image__line {
  stroke: var(--color-second);
  stroke-width: 4px;

  stroke-dasharray: 100;
  stroke-dashoffset: 100;
  transition: stroke-dashoffset .5s ease-out;
}

:host:hover .image__line {
  stroke-dashoffset: 0;
}

.image__brain {
  stroke: var(--color-main);
  stroke-width: 1px;
  stroke-opacity: .35;

  stroke-dasharray: 500;
  stroke-dashoffset: 500;
  transition: stroke-dashoffset .2s 0s ease-out;
}

:host:hover .image__brain {
  stroke-dashoffset: 0;
  transition: stroke-dashoffset .5s .3s ease-out;
}