:host {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px;
  padding: 32px;
  background-color: #f4f4f4;
}

.full-width {
  width: 100%;
}

.contacts-info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
}

.main-info {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
}

.education-info > div {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
  row-gap: 8px;
}

.education-info > div + div {
  margin-top: 8px;
  border-top: 1px dotted rgba(0, 0, 0, 0.31);
  padding-top: 16px;
}

.career-info > div {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
  row-gap: 8px;
}

.career-info > div + div {
  margin-top: 8px;
  border-top: 1px dotted rgba(0, 0, 0, 0.31);
  padding-top: 16px;
}

.span-2 {
  grid-column-end: span 2;
}

.span-3 {
  grid-column-end: span 3;
}

.span-4 {
  grid-column-end: span 4;
}

mat-card + mat-card {
  margin-top: 32px;
}