.wrapper {
  display: grid;

  --columns: 11;

  grid-template-columns: repeat(var(--columns), min-content);
  grid-auto-rows: min-content min-content min-content;
  column-gap: var(--trainer-margin);
  row-gap: var(--trainer-margin);

  align-items: center;
}

.item-answer-top {
  grid-row-start: 1;
  position: relative;

  font-size: 80%;
  font-weight: 400;
  white-space: nowrap;
  text-align: center;
}

.item-data {
  grid-row-start: 2;

  font-size: 120%;
  font-weight: 600;
  white-space: nowrap;
  text-align: center;
}

.item-data--input {
  width: 60px;
}

.item-answer-bottom {
  grid-row-start: 3;

  font-size: 80%;
  font-weight: 400;
  white-space: nowrap;

  text-align: center;
}

.item-answer-correct {
  position: absolute;
  bottom: -10px;
  color: var(--trainer-success-color);

  font-size: 140%;
  font-weight: 600;

  width: 100%;
  text-align: center;
}

.input {
  padding: 0;
}

.button--answer {
   margin-bottom: 0;
}

.invisible {
  opacity: 0;
  visibility: hidden;
}
