<div class="field">
  <global-timer></global-timer>

  <training-greeting
    *ngIf="mode === 'greeting'"
    (buttonClick)="onStart()"
  ></training-greeting>

  <div
    *ngIf="mode === 'game' && config"
    class="game"
  >
    <trainer-classification-words
      *ngIf="config.id === 'classification-words'"
      [config]="config"
      (result)="onResult($event)"
    ></trainer-classification-words>

    <trainer-image-carpet
      *ngIf="config.id === 'image-carpet'"
      [config]="config"
      (result)="onResult($event)"
    ></trainer-image-carpet>

    <trainer-image-differences
      *ngIf="config.id === 'image-differences'"
      [config]="config"
      (result)="onResult($event)"
    ></trainer-image-differences>

    <trainer-image-field
      *ngIf="config.id === 'image-field'"
      [config]="config"
      (result)="onResult($event)"
    ></trainer-image-field>

    <trainer-matrix-filling
      *ngIf="config.id === 'matrix-filling'"
      [config]="config"
      (result)="onResult($event)"
    ></trainer-matrix-filling>

    <trainer-matrix-sequence
      *ngIf="config.id === 'matrix-sequence'"
      [config]="config"
      (result)="onResult($event)"
    ></trainer-matrix-sequence>

    <trainer-question
      *ngIf="config.id === 'question'"
      [config]="config"
      (result)="onResult($event)"
    ></trainer-question>

    <trainer-relax
      *ngIf="config.id === 'relax'"
      [config]="config"
      (result)="onResult($event)"
    ></trainer-relax>

    <trainer-result
      *ngIf="config.id === 'result'"
      [config]="config"
      (result)="onResult($event)"
    ></trainer-result>

    <trainer-table-pipe
      *ngIf="config.id === 'table-pipe'"
      [config]="config"
      (result)="onResult($event)"
    ></trainer-table-pipe>

    <trainer-text-letters
      *ngIf="config.id === 'text-letters'"
      [config]="config"
      (result)="onResult($event)"
    ></trainer-text-letters>

    <trainer-text-pairs
      *ngIf="config.id === 'text-pairs'"
      [config]="config"
      (result)="onResult($event)"
    ></trainer-text-pairs>

    <trainer-text-reading
      *ngIf="config.id === 'text-reading'"
      [config]="config"
      (result)="onResult($event)"
    ></trainer-text-reading>

    <trainer-text-sort
      *ngIf="config.id === 'text-sort'"
      [config]="config"
      (result)="onResult($event)"
    ></trainer-text-sort>

    <trainer-text-tezirovanie
      *ngIf="config.id === 'text-tezirovanie'"
      [config]="config"
      (result)="onResult($event)"
    ></trainer-text-tezirovanie>
  </div>

  <training-result
    *ngIf="mode === 'result'"
    (buttonClick)="onGoDashboard()"
  ></training-result>

  <lap-timer></lap-timer>

  <button class="close" routerLink="/">
    <svg class="svg-icon" width="24" height="24" viewBox="0 0 24 24" fill-rule="evenodd">
      <path d="M12 11.3L22.3 1l.7.7L12.7 12 23 22.3l-.7.7L12 12.7 1.7 23l-.7-.7L11.3 12 1 1.7l.7-.7L12 11.3z"/>
    </svg>
    <span class="visually-hidden">Завершить тренировку</span>
  </button>
</div>
