:host {
  display: flex;
  justify-content: center;
  align-items: stretch;

  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  --padding: 12px;
  padding: var(--padding);

  background-color: rgba(255, 255, 255, 0.24);

  overflow: hidden;
  position: relative;
  user-select: none;
}

@media (max-width: 600px) {
  :host {
    --padding: 4px;
  }
}


/* === Field node === */

.field {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;

  flex: 0 0 100%;
  width: 100%;
  max-width: 960px;

  margin-top: calc(var(--body-scroll-top) * 1px);
  height: calc(var(--window-height, 100%) * 1px - var(--padding) * 2 - 4px);
  max-height: 100%;

  border-top: 1px solid rgba(0,0,0,.5);
  border-radius: 9px;

  background-color: var(--color-background);
  box-shadow: var(--shadow-field);

  overflow: visible;
  position: relative;
  user-select: none;
}

.field::after {
  content: "";
  display: block;
  position: absolute;

  left: 0;
  top: 0;
  width: 172px;
  height: 62px;

  background-color: transparent;
  background-image:
    linear-gradient(-20deg, transparent 0%, transparent 50%, var(--color-middle) 50%, var(--color-second) 100%);
  background-size: 100%;
  background-repeat: no-repeat;

  border-radius: 9px 0 0 0;
}

/* === Game field === */

.game {
  display: flex;
  justify-content: stretch;
  align-items: stretch;

  width: 100%;
  min-width: 100%;
  flex-grow: 1;
  flex-shrink: 1;
  max-height: 100%;
}


/* === Close button === */

.close {
  position: absolute;
  right: -8px;
  top: -8px;

  width: 40px;
  height: 40px;

  padding: 0;
  border-radius: 50%;

  background-color: var(--color-background);
  box-shadow: 0 2px 32px -8px rgba(0,0,0,.87);
}

@media (max-width: 600px) {
  .close {
    right: -3px;
    top: -3px;
    padding: 4px;
  }
}

/* === Keypad === */
.keypad {
  margin-top: auto;
}