:host {
  display: block;

  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  background-color: rgba(255, 255, 255, 0.9);
  background-image: var(--background-image);
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;

  /* background-image: var(--background-gradient);
  background-size: 101% 101%;
  background-position: 50%;
  background-repeat: no-repeat; */
}