<div
class="field"
[class.field--locked]="fullscreenService.locked | async"
>
  <timer-global></timer-global>

  <div *ngIf="config" class="game">
    <trainer-classification-colors
      *ngIf="config.id === 'classification-colors'"
      [config]="config"
      (result)="onResult($event)"
    ></trainer-classification-colors>

    <trainer-classification-definitions
      *ngIf="config.id === 'classification-definitions'"
      [config]="config"
      (result)="onResult($event)"
    ></trainer-classification-definitions>

    <trainer-classification-words
      *ngIf="config.id === 'classification-words'"
      [config]="config"
      (result)="onResult($event)"
    ></trainer-classification-words>

    <trainer-greeting
      *ngIf="config.id === 'greeting'"
      [config]="config"
      (result)="onResult($event)"
    ></trainer-greeting>

    <trainer-image-carpet
      *ngIf="config.id === 'image-carpet'"
      [config]="config"
      (result)="onResult($event)"
    ></trainer-image-carpet>

    <trainer-image-differences
      *ngIf="config.id === 'image-differences'"
      [config]="config"
      (result)="onResult($event)"
    ></trainer-image-differences>

    <trainer-image-expressions
      *ngIf="config.id === 'image-expressions'"
      [config]="config"
      (result)="onResult($event)"
    ></trainer-image-expressions>

    <trainer-image-expressions-question
      *ngIf="config.id === 'image-expressions-question'"
      [config]="config"
      (result)="onResult($event)"
    ></trainer-image-expressions-question>

    <trainer-image-field
      *ngIf="config.id === 'image-field'"
      [config]="config"
      (result)="onResult($event)"
    ></trainer-image-field>

    <trainer-image-field-question
      *ngIf="config.id === 'image-field-question'"
      [config]="config"
      (result)="onResult($event)"
    ></trainer-image-field-question>

    <trainer-math-equation
      *ngIf="config.id === 'math-equation'"
      [config]="config"
      (result)="onResult($event)"
    ></trainer-math-equation>

    <trainer-math-middle
      *ngIf="config.id === 'math-middle'"
      [config]="config"
      (result)="onResult($event)"
    ></trainer-math-middle>

    <trainer-math-sequence
      *ngIf="config.id === 'math-sequence'"
      [config]="config"
      (result)="onResult($event)"
    ></trainer-math-sequence>

    <trainer-math-waste
      *ngIf="config.id === 'math-waste'"
      [config]="config"
      (result)="onResult($event)"
    ></trainer-math-waste>

    <trainer-matrix-filling
      *ngIf="config.id === 'matrix-filling'"
      [config]="config"
      (result)="onResult($event)"
    ></trainer-matrix-filling>

    <trainer-matrix-filling-question
      *ngIf="config.id === 'matrix-filling-question'"
      [config]="config"
      (result)="onResult($event)"
    ></trainer-matrix-filling-question>

    <trainer-matrix-sequence
      *ngIf="config.id === 'matrix-sequence'"
      [config]="config"
      (result)="onResult($event)"
    ></trainer-matrix-sequence>

    <trainer-relax
      *ngIf="config.id === 'relax'"
      [config]="config"
      (result)="onResult($event)"
    ></trainer-relax>

    <trainer-result
      *ngIf="config.id === 'result'"
      [config]="config"
      (result)="onResult($event)"
    ></trainer-result>

    <trainer-space-question-waste
      *ngIf="config.id === 'space-question-waste'"
      [config]="config"
      (result)="onResult($event)"
    ></trainer-space-question-waste>

    <trainer-storytelling
      *ngIf="config.id === 'storytelling'"
      [config]="config"
      (result)="onResult($event)"
    ></trainer-storytelling>

    <trainer-table-pipe
      *ngIf="config.id === 'table-pipe'"
      [config]="config"
      (result)="onResult($event)"
    ></trainer-table-pipe>

    <trainer-table-words
      *ngIf="config.id === 'table-words'"
      [config]="config"
      (result)="onResult($event)"
    ></trainer-table-words>

    <trainer-text-letters
      *ngIf="config.id === 'text-letters'"
      [config]="config"
      (result)="onResult($event)"
    ></trainer-text-letters>

    <trainer-text-question
      *ngIf="config.id === 'text-question'"
      [config]="config"
      (result)="onResult($event)"
    ></trainer-text-question>

    <trainer-text-reading
      *ngIf="config.id === 'text-reading'"
      [config]="config"
      (result)="onResult($event)"
    ></trainer-text-reading>

    <trainer-text-tezirovanie
      *ngIf="config.id === 'text-tezirovanie'"
      [config]="config"
      (result)="onResult($event)"
    ></trainer-text-tezirovanie>

    <trainer-words-column
      *ngIf="config.id === 'words-column'"
      [config]="config"
      (result)="onResult($event)"
    ></trainer-words-column>

    <trainer-words-lexis
      *ngIf="config.id === 'words-lexis'"
      [config]="config"
      (result)="onResult($event)"
    ></trainer-words-lexis>

    <trainer-words-pairs
      *ngIf="config.id === 'words-pairs'"
      [config]="config"
      (result)="onResult($event)"
    ></trainer-words-pairs>

    <trainer-words-question-close
      *ngIf="config.id === 'words-question-close'"
      [config]="config"
      (result)="onResult($event)"
    ></trainer-words-question-close>

    <trainer-words-question-waste
      *ngIf="config.id === 'words-question-waste'"
      [config]="config"
      (result)="onResult($event)"
    ></trainer-words-question-waste>
  </div>

  <timer-lap></timer-lap>

  <button class="close" routerLink="/">
    <svg class="svg-icon close-icon" width="24" height="24" viewBox="0 0 24 24" fill-rule="evenodd">
      <path d="M12 11.3L22.3 1l.7.7L12.7 12 23 22.3l-.7.7L12 12.7 1.7 23l-.7-.7L11.3 12 1 1.7l.7-.7L12 11.3z"/>
    </svg>
    <span class="visually-hidden">Завершить тренировку</span>
  </button>
</div>
