:host {
  display: block;

  padding: 16px;

  border-radius: 9px;

  background-color: var(--color-background);
  box-shadow: var(--shadow-field);
}

.form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.submit {
  margin: 16px auto 0 auto;
}