<form
  class="form"
  [formGroup]="form"
  (ngSubmit)="onSubmit($event)"
>

  <input
    type="password"
    class="input input--main"
    formControlName="currentPassword"
    label="Текущий пароль"
  >

  <input
    type="password"
    class="input input--main"
    formControlName="password1"
    label="Новый пароль"
  >

  <input
    type="password"
    class="input input--main"
    formControlName="password2"
    label="Новый пароль еще раз"
  >

  <button type="submit" class="submit button--main" [disabled]="!form.valid">Сменить пароль</button>
</form>