:host {
  background-color: var(--color-success);
  color: #fff;

  cursor: pointer;
  user-select: none;

  position: relative;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.h3 {
  margin: 0;
  padding: 0;

  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;

  text-align: left;
  text-transform: uppercase;
}

.p {
  margin: 0;
  margin-top: 50px;

  font-size: 13px;
  font-weight: 300;
}

.image {
  position: absolute;
  bottom: -30px;
  right: -34px;
  width: 150px;
  height: 150px;
}

.image__hands {
  transform: translate(50%, 50%);
  transition: transform .3s;
}

:host:hover .image__hands {
  transform: translate(0%, 0%);
}

.image__led {
  fill: #36485c;
  transition: fill .3s;
}

:host:hover .image__led {
  fill: #0273d4;
}