:host {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;

  background-color: var(--color-success);
  box-shadow: var(--shadow-card);
  color: #fff;

  cursor: pointer;
  user-select: none;

  position: relative;
  overflow: hidden;

  padding: 24px;
  border-radius: 8px;

  min-height: 140px;
}

@media (max-width: 700px) {
  :host {
    padding: 16px;
  }
}

.h3 {
  margin: 0;
  padding: 0;

  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;

  text-align: left;
  text-transform: uppercase;
}

.p {
  margin: 0;
  margin-top: 30px;
}

.image {
  position: absolute;
  bottom: -32px;
  right: -24px;
  width: 150px;
  height: 150px;
}

@media (max-width: 500px) {
  .image {
    bottom: -22px;
    right: -22px;
    width: 100px;
    height: 100px;
  }
}

@media (max-width: 370px) {
  .image {
    bottom: -32px;
    right: -24px;
    width: 150px;
    height: 150px;
  }
}

.image__hands {
  transform: translate(50%, 50%);
  transition: transform .5s;
}

:host:hover .image__hands {
  transform: translate(0%, 0%);
}

.image__led {
  fill: #36485c;
  transition: fill .5s;
}

:host:hover .image__led {
  fill: #0273d4;
}