*, *:before, *:after {
  box-sizing: inherit;
  outline: none;
}

svg {
	display: block;
	width: 100%;
  height: 100%;
}

svg path,
svg use {
	fill: currentcolor;
}

router-outlet {
	display: none;
}

table {
	width: 100%;
}

.mat-card-header-text {
  margin-left: 0;
  margin-right: 0;
}

.mat-form-field-infix {
  width: auto !important;
}
