:host {
  display: block;
  width: 100%;
  user-select: none;
}

.form {
  display: block;
  width: 100%;
}

.h1 {
  display: block;
  margin: 0 auto;
  padding: 0;

  font-size: 20px;
  font-weight: 400;
  line-height: 1;

  text-transform: uppercase;
  text-align: center;
}

.input {
  width: 100%;
  margin-top: 24px;
}

.submit {
  width: 100%;
  margin-top: 24px;
}

.error-message {
  margin: 0;
  margin-top: 13px;

  color: var(--color-error);
  font-size: 14px;
  text-align: left;
}
