<div class="chart-wrapper">
  <circular-chart class="chart" [value]="perception"></circular-chart>
  <h3 class="h3">Внимание</h3>
</div>
<div class="chart-wrapper">
  <circular-chart class="chart" [value]="memory"></circular-chart>
  <h3 class="h3">Память</h3>
</div>
<div class="chart-wrapper">
  <circular-chart class="chart" [value]="knowledge"></circular-chart>
  <h3 class="h3">Эрудиция</h3>
</div>
<div class="chart-wrapper">
  <circular-chart class="chart" [value]="intelligence"></circular-chart>
  <h3 class="h3">Интеллект</h3>
</div>

