
.input {
  display: block;
  position: relative;

  margin: 0 auto;
  margin-top: 16px;
  padding: 0;

  flex-shrink: 0;
  width: 100%;
  height: 48px;

  background-color: var(--color-white);
  border: 1px solid rgba(0, 0, 0, 0.32);
  border-radius: 8px;

  transition-duration: 150ms;
  transition-timing-function: linear;
  transition-property: border-color;

  font-size: 16px;
}

.input:focus-within {
  border-color: var(--color-primar);
}

.input input {
  display: block;
  position: relative;

  width: 100%;
  height: 100%;

  padding: 0 .7em;

  font-size: 100%;
  line-height: 48px;

  background-color: transparent;
  background-image: none;
  border: 0 none;
  border-radius: 8px;

  color: var(--color-text);
}

.input label {
  position: absolute;
  left: .5em;
  top: 50%;

  padding: 0 .2em;

  transform: translate(0, -50%) scale(1);
  transform-origin: left center;

  transition-duration: 150ms;
  transition-timing-function: linear;
  transition-property: transform color;

  white-space: nowrap;

  background-color: transparent;
  background-image: linear-gradient(to bottom, transparent 0%, transparent 50%, var(--color-white) 50%, var(--color-white) 100%);
  background-size: 100%;

  color: rgba(0, 0, 0, 0.64);
  cursor: text;
}

.input input:focus ~ label,
.input input:valid ~ label {
  transform: translate(0, calc(-50% - 24px)) scale(0.80);
}

.input input:focus ~ label {
  color: var(--color-primar);
}

