:root {
  /* === Trainers theme === */

  --trainer-text-color: rgb(119, 110, 101);

  --trainer-background-color: rgba(238, 228, 218, 0.7);
  --trainer-border-color: rgb(187, 173, 160);

  --trainer-selected-color: rgb(2, 115, 212);

  --trainer-success-color: rgb(45, 169, 79);
  --trainer-success-background-color: rgba(45, 169, 79, 0.7);

  --trainer-error-color: rgb(237, 63, 44);
  --trainer-error-background-color: rgba(237, 63, 44, 0.7);

  --trainer-text-item-height: 50px;
  --trainer-font-size: 16px;

  --trainer-block-margin: 32px;
}

@media (max-width: 400px) {
  :root {
    --trainer-text-item-height: 40px;
  }
}

.trainer-h1 {
  display: block;

  grid-column-start: 1;
  grid-column-end: -1;

  flex-shrink: 0;
  flex-grow: 0;
  flex-basis: auto;

  margin: 0;
  margin-top: 34px;
  margin-bottom: auto;
  text-indent: 30px;

  padding-left: 20px;
  padding-right: 20px;

  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  font-weight: 600;
}