:host {
  width: 100%;
  min-width: 100%;
  max-width: 100%;

  min-height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 12px;
}

@media (max-width: 600px) {
  :host {
    padding: 4px;
  }
}
