<section class="cards">
  <card-everyday routerLink="/training/everyday"></card-everyday>
  <card-blackboard class="card-blackboard"></card-blackboard>
  <card-charger routerLink="/training/once"></card-charger>
</section>

<section class="indicators">
  <card-brain></card-brain>
  <card-charts *ngIf="hasProgress" class="card-charts"></card-charts>
  <card-speed *ngIf="hasProgress"></card-speed>
  <card-empty-progress *ngIf="!hasProgress" class="empty-progress"></card-empty-progress>
</section>

<card-progress *ngIf="hasProgress"></card-progress>
