<!-- Скорость зрительного восприятия -->
<h1 *ngIf="mode==='play'" class="trainer-h1">Отметьте&nbsp;картинки,<br>показанные&nbsp;ранее</h1>
<h1 *ngIf="mode==='result'" class="trainer-h1">Ваш&nbsp;результат<br>&nbsp;</h1>

<trainer-selector
  class="selector"
  type="icon"
  [readonly]="mode==='result'"
  [items]="items"
></trainer-selector>

<button *ngIf="mode==='play'" trainerButton (click)="result()">Проверить</button>
<button *ngIf="mode==='result'" trainerButton (click)="finish()">Продолжить</button>