:host {
  --column-width: 200px;
  --gap: 2px;
}

.item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: min-content;
}

.item:first-of-type {
  margin-top: calc(var(--trainer-margin) * 4);
}

.input {
  max-width: 200px;
}