:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: #111;
  box-shadow: var(--shadow-card);
  color: #fff;

  cursor: pointer;
  user-select: none;

  position: relative;
  overflow: hidden;

  padding: 24px;
  border-radius: 8px;

  min-height: 160px;
}

p {
  margin-top: auto;
  margin-bottom: auto;

  position: relative;

  font-size: 26px;
  font-weight: 600;

  line-height: 1.5;

  color: rgba(0,0,0,0.84);
}

p + p {
  font-size: 20px;
  line-height: 1;

  margin-top: 0;
  margin-bottom: 0;
  align-self: flex-end;
}


:host::before {
  content: "";
  display: block;

  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;

  background-color: rgba(255,255,255,0.4);
}

