<!-- Вербальный интеллект -->
<h1 *ngIf="mode==='play' && config.itemsType==='antonyms'" class="trainer-h1">Отметьте&nbsp;слова<br>антонимы</h1>
<h1 *ngIf="mode==='play' && config.itemsType==='paronyms'" class="trainer-h1">Отметьте&nbsp;слова<br>паронимы</h1>
<h1 *ngIf="mode==='play' && config.itemsType==='synonyms'" class="trainer-h1">Отметьте&nbsp;слова<br>синонимы</h1>
<h1 *ngIf="mode==='result'" class="trainer-h1">Ваш&nbsp;результат<br>&nbsp;</h1>

<svg
  class="matrix"
  [attr.viewBox]="matrixViewBox"
  [attr.width]="matrixWidth"
  [attr.height]="matrixHeight"
  xmlns="http://www.w3.org/2000/svg"
  xmlns:xlink="http://www.w3.org/1999/xlink"
  preserveAspectRatio="xMidYMid meet"
>
  <g
    *ngFor="let item of items"
    class="item"
    [class.item--selected]="item.isSelected"
    [class.item--disabled]="mode==='play' && item.userPair !== undefined"
    [class.item--error]="mode==='result' && item.userPair !== item.pair"
    [class.item--success]="mode==='result' && item.userPair === item.pair"
    touchable (pointerDown)="onTouch(item)"
  >
    <path
      class="fill-path"
      [attr.d]="item.fillPath"
    ></path>
    <path
      class="path"
      [attr.d]="item.path"
    ></path>
    <text
      class="text"
      [attr.x]="item.x + item.width / 2"
      [attr.y]="item.y + item.height / 2 + 1"
      dominant-baseline="middle"
      text-anchor="middle"
    >{{ item.data }}</text>
    <path
      class="ellipse"
      [attr.d]="item.ellipse"
    ></path>
  </g>
  <ng-container *ngFor="let item of items">
    <path
      *ngIf="mode==='result' && item.line && item.userPair !== item.pair"
      class="line"
      [attr.d]="item.line"
    ></path>
  </ng-container>
</svg>

<trainer-button
  *ngIf="mode === 'result'"
  class="button"
  value="Продолжить"
  [focus]="true"
  (touch)="finish()"
></trainer-button>
