:host {
  display: block;
  width: 100vw;
  height: 100vh;

  overflow: hidden;
  position: relative;

  background-color: var(--color-background);
  user-select: none;
}

.h1 {
  font-weight: 500;
}

.close {
  position: absolute;
  right: 0;
  top: 0;
  width: 56px;
  height: 56px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: transparent;
  border: 0 none;
  box-shadow: none;

  font-size: 32px;
  color: var(--color-gray-light);

  cursor: pointer;
}

.close:hover {
  color: var(--color-second);
}

.timer {
  position: absolute;
  left: 0;
  top: 0;
  width: auto;
  height: 56px;
  padding: 0 16px;

  display: flex;
  justify-content: flex-start;
  align-items: center;

  font-size: 16px;
  font-weight: 500;
  line-height: 1;
}

.training {
  width: 100vw;
  height: 100vh;

  --padding: 16px;
  padding: var(--padding);

  display: flex;
  justify-content: center;
  align-items: center;
}

.greeting {
  width: 666px;
  height: 100%;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.result {
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.chart {
  width: 150px;
  height: 150px;
  margin-bottom: 32px;
}