<svg
  class="matrix"
  [attr.viewBox]="matrixViewBox"
  [attr.width]="matrixWidth"
  [attr.height]="matrixHeight"
  version="1.1"
  xmlns="http://www.w3.org/2000/svg"
  xmlns:xlink="http://www.w3.org/1999/xlink"
  preserveAspectRatio="xMidYMid meet"
>
  <g>
    <path
      class="path"
      [attr.d]="matrix.path"
      [class.path--selected]="isSelected"
      [class.path--success]="isSuccess"
      [class.path--error]="isError"
    ></path>
    <foreignObject
      class="object"
      [attr.x]="matrix.x"
      [attr.y]="matrix.y"
      [attr.width]="matrix.width"
      [attr.height]="matrix.height"
    >
      <ng-content></ng-content>
    </foreignObject>
  </g>
</svg>
