<figure class="user" *ngIf="user | async as user">
  <picture class="avatar" [attr.data-letter]="user.name | slice:0:1" aria-hidden="true">
    <img *ngIf="user.avatar" class="avatar__img" [src]="user.avatar">
  </picture>
  <figcaption class="caption">
    <div *ngIf="user.name" class="title">{{ user.name }}</div>
    <div *ngIf="user.premium && user.premium > 0" class="premium">
      <svg class="display-none" width="0" height="0">
        <symbol id="star" viewBox="0 0 24 24">
          <path d="M12 .587l3.668 7.568 8.332 1.151-6.064 5.828 1.48 8.279-7.416-3.967-7.417 3.967 1.481-8.279-6.064-5.828 8.332-1.151z"></path>
        </symbol>
      </svg>
      <svg class="svg-icon" width="10" height="10">
        <use xlink:href="#star"></use>
      </svg>
      <span class="premium__info">PRO {{ user.premium | days }}</span>
      <svg class="svg-icon" width="10" height="10">
        <use xlink:href="#star"></use>
      </svg>
    </div>
  </figcaption>
</figure>
