:host {
  --padding-top: 16px;
  --padding-bottom: 16px;
  --padding-left: 24px;
  --padding-right: 24px;

  --column-gap: 16px;
  --row-gap: 8px;
}

.matrix {
  display: block;
  width: auto;
  max-width: 100%;
  height: auto;

  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

.item {
  cursor: pointer;
}

.item--disabled {
  opacity: .3;
  cursor: default;
}

.path {
  stroke: var(--trainer-border-color);
  stroke-width: 1;
  fill: none;
}

.item--selected .path {
  stroke: var(--trainer-selected-color);
  stroke-width: 2;
}

.item--error .path {
  stroke: var(--trainer-error-color);
  stroke-width: 2;
}

.item--success .path {
  stroke: var(--trainer-success-color);
  stroke-width: 2;
}

.fill-path {
  stroke: none;
  stroke-width: 0;
  fill: var(--trainer-background-color);
}

.item--success .fill-path {
  fill: var(--trainer-success-background-color);
}

.text {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: 1;

  color: var(--trainer-text-color);
  fill: currentColor;

  transition: color .25s;
}

.item:hover .text {
  color: var(--trainer-selected-color);
}

.item--disabled:hover .text {
  color: var(--trainer-text-color);
}

.ellipse {
  stroke: none;
  stroke-width: 0;
  fill: none;
}

.item--error .ellipse {
  stroke: var(--trainer-error-color);
  stroke-width: 2;
}

.line {
  stroke: var(--trainer-error-color);
  stroke-width: 2;
  fill: none;
}