:host {
  width: 100%;
  min-width: 100%;
  max-width: 100%;

  min-height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 12px;
}

@media (max-width: 600px) {
  :host {
    padding: 4px;
  }
}

.field {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  width: 100%;
  max-width: 456px;

  padding: 24px;

  background-color: var(--color-background);
  box-shadow: var(--shadow-field);
  border-radius: 9px;
}

.field + .field {
  margin-top: 24px;
}

.field::ng-deep > * {
  display: block;
  width: 100%;
}

.logo {
  flex-shrink: 0;

  display: block;
  width: 123px;
  height: 60px;

  color: var(--color-error);
  cursor: pointer;
}

:host::ng-deep .form {
  display: block;
  width: 100%;
  margin-top: 16px;
}

:host::ng-deep .h1 {
  display: block;
  margin: 0 auto;
  padding: 0;

  font-size: 20px;
  font-weight: 400;
  line-height: 1;

  text-transform: uppercase;
  text-align: center;
}

:host::ng-deep .input,
:host::ng-deep .button {
  width: 100%;
  margin-top: 32px;
}

.message,
:host::ng-deep .message {
  margin: 0;
  margin-top: 16px;

  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;

  text-align: center;
}

.message:first-child,
:host::ng-deep .message:first-child{
  margin-top: 0;
}

.message--error,
:host::ng-deep .message--error {
  color: var(--color-error);
}
