:host {
  display: block;
  position: fixed;
  bottom: 0;
  left: 50%;

  transform: translateX(-50%);

  width: 100%;
  max-width: 666px;
  padding: 0 12px 12px 12px;
}

@media (max-width: 600px) {
  :host {
    padding: 4px;
  }
}

.message {
  display: flex;
  overflow: hidden;
  position: relative;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  width: 100%;
  padding: 24px;

  box-shadow: var(--shadow-card);
  border-radius: 9px;

  color: var(--color-white);
}

.message + .message {
  margin-top: 16px;
}

.message--notice {
  background-color: var(--color-success-light);
}

.message--warning {
  background-color: var(--color-warning-light);
}

.message--error {
  background-color: var(--color-error-light);
}

.message-text {
  display: block;
  margin: 0;
  padding: 0;

  font-size: 16px;
  line-height: 1.309;
  text-align: left;

  color: inherit;
}

.delete-button {
  position: absolute;
  right: -4px;
  top: -4px;
}