<svg
  *ngIf="matrix && matrix.length > 0"
  class="matrix"
  [attr.viewBox]="matrixViewBox"
  width="100%"
  height="1%"
  preserveAspectRatio="xMidYMid meet"
>
  <g
    *ngFor="let item of matrix"
    class="item"
    fastTouch (touch)="onTouch(item.data)"
  >
    <path
      class="fill-path"
      [attr.d]="item.fillPath"
    ></path>
    <path
      class="path"
      [attr.d]="item.path"
    ></path>
    <text
      class="text"
      [attr.x]="item.x + item.width / 2"
      [attr.y]="item.y + item.height / 2 + 2"
      dominant-baseline="middle"
      text-anchor="middle"
    >{{ item.data }}</text>
  </g>
</svg>