:host {
  --item-text-color: rgb(119, 110, 101);
  --item-background-color: rgba(238, 228, 218, .7);
  --item-border-color: rgb(187, 173, 160);
  --item-selected-color: #0273d4;

  --item-size: 50px;
  --gap: 1px;
  --padding: 2px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
  min-width: 100%;
  height: auto;
}

.matrix {
  display: block;
  width: auto;
  max-width: 100%;
  height: auto;

  margin-top: 16px;
}

.item {
  cursor: pointer;
}

.path {
  stroke: var(--item-border-color);
  stroke-width: 1;
  fill: none;

  position: relative;
  z-index: 999;

  transition: stroke .25s;
}

.item:hover .path {
  stroke: var(--item-selected-color);
}

.fill-path {
  stroke: none;
  stroke-width: 0;
  fill: var(--item-background-color);
}

.text {
  font-family: inherit;
  font-size: 26px;
  font-weight: 500;
  line-height: 1;
  color: var(--item-text-color);
  fill: currentColor;

  transition: color .25s;
}

.item:hover .text {
  color: var(--item-selected-color);
}