<div class="rules">
  <div
    *ngFor="let item of rules"
    class="rule"
  >
    <img class="rule-image" [src]="getImage(item)" draggable="false">
    <span *ngIf="item.action ==='up'">&#8194;&#8212;&#8194;Вверх</span>
    <span *ngIf="item.action ==='down'">&#8194;&#8212;&#8194;Вниз</span>
    <span *ngIf="item.action ==='left'">&#8194;&#8212;&#8194;Влево</span>
    <span *ngIf="item.action ==='right'">&#8194;&#8212;&#8194;Вправо</span>
  </div>
</div>
<div
  *ngFor="let item of items; let i = index"
  class="item"
  [class.current]="i === current"
  >
  <img class="item-image" [src]="getImage(item)" draggable="false">
</div>
