<h2 class="h2">Публткации</h2>
<educational-material-card></educational-material-card>
<educational-material-card></educational-material-card>
<educational-material-card></educational-material-card>
<educational-material-card></educational-material-card>
<educational-material-card></educational-material-card>
<educational-material-card></educational-material-card>
<educational-material-card></educational-material-card>
<educational-material-card></educational-material-card>
<educational-material-card></educational-material-card>
<educational-material-card></educational-material-card>
<educational-material-card></educational-material-card>
<educational-material-card></educational-material-card>
<educational-material-card></educational-material-card>
<educational-material-card></educational-material-card>
<educational-material-card></educational-material-card>
<educational-material-card></educational-material-card>
<educational-material-card></educational-material-card>
<educational-material-card></educational-material-card>