:host {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;

  background-color: var(--color-second);
  box-shadow: var(--shadow-card);
  color: #fff;

  cursor: pointer;
  user-select: none;

  position: relative;

  padding: 24px;
  border-radius: 8px;

  min-height: 140px;
}

@media (max-width: 700px) {
  :host {
    padding: 16px;
  }
}

.h3 {
  margin: 0;
  padding: 0;

  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;

  text-align: left;
  text-transform: uppercase;
}

.p {
  margin: 0;
  margin-top: 30px;
}

.image {
  position: absolute;
  bottom: -14px;
  right: 4px;
  width: 120px;
  height: 120px;
}

@media (max-width: 500px) {
  .image {
    bottom: -12px;
    right: 0px;
    width: 100px;
    height: 100px;
  }
}

@media (max-width: 370px) {
  .image {
    bottom: -14px;
    right: 4px;
    width: 120px;
    height: 120px;
  }
}

.image__line {
  stroke: var(--color-primar);
  stroke-width: 4px;

  stroke-dasharray: 100;
  stroke-dashoffset: 100;
  transition: stroke-dashoffset .5s ease-out;
}

:host:hover .image__line {
  stroke-dashoffset: 0;
}

.image__brain {
  fill: #fff;

  stroke: var(--color-primar);
  stroke-width: 1px;
  stroke-opacity: .35;

  stroke-dasharray: 500;
  stroke-dashoffset: 500;
  transition:
    stroke-dashoffset .2s 0s ease-out,
    fill .2s 0s ease-out;
}

:host:hover .image__brain {
  fill: #ffdf00;
  stroke-dashoffset: 0;
  transition:
    stroke-dashoffset .5s .3s ease-out,
    fill .5s .5s ease-out;
}