
<section class="greeting" *ngIf="status === 'greeting'">
  <h1>Ежедневная тренировка</h1>
  <p>В идеале разместить тут интересное вступление</p>
  <button type="button" class="button" (click)="onLetsgo()">
    <span>Начать</span>
  </button>
</section>

<section class="training" *ngIf="status === 'training'">
  <info-text-trainer
    *ngIf="trainer === 'info-text'"
    [config]="config"
    (result)="onResult($event)"
  ></info-text-trainer>

  <question-trainer
    *ngIf="trainer === 'question'"
    [config]="config"
    (result)="onResult($event)"
  ></question-trainer>

  <number-tables-trainer
    *ngIf="trainer === 'number-tables'"
    [config]="config"
    (result)="onResult($event)"
  ></number-tables-trainer>

  <div class="timer">{{ timer | timer }}</div>
</section>

<section class="result" *ngIf="status === 'result'">
  <h1 class="h1">Ваш сегодняшний результат</h1>
  <circular-chart class="chart" [value]="91"></circular-chart>
  <button type="button" class="button" (click)="onEnd($event)">
    <span>Завершить занятие</span>
  </button>
</section>

<button type="button" class="close" (click)="onClose($event)">
  <svg class="svg-icon" width="24" height="24" viewBox="0 0 24 24">
    <path d="M12 2c5.514 0 10 4.486 10 10s-4.486 10-10 10-10-4.486-10-10 4.486-10 10-10zm0-2c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm6 16.538l-4.592-4.548 4.546-4.587-1.416-1.403-4.545 4.589-4.588-4.543-1.405 1.405 4.593 4.552-4.547 4.592 1.405 1.405 4.555-4.596 4.591 4.55 1.403-1.416z"></path>
  </svg>
  <span class="visually-hidden">Завершить</span>
</button>


