.button {
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 0;
  padding: 0;

  height: 48px;

  color: inherit;
  border: 0 none;

  --bg-color-start: rgba(0,0,0,0);
  --bg-color-end: rgba(0,0,0,0);

  background-color: rgba(0,0,0,0);
  background-image:
    linear-gradient(var(--color-hover), var(--color-hover)),
    linear-gradient(90deg, var(--bg-color-start), var(--bg-color-end));
  background-size: 0% 0%, 100%;
  background-position: center;
  background-repeat: no-repeat;

  transition-duration: 100ms;
  transition-timing-function: ease;
  transition-property: background-size;

  font: inherit;
  text-transform: uppercase;
  text-decoration: none;

  cursor: pointer;
  user-select: none;
  position: relative;
  overflow: hidden;
}

/* Main button */

.button--main {
  padding: 0 1em;
  border-radius: 4px;
  font-size: 16px;

  background-color: var(--bg-color-start);
  color: var(--color-white);
  --bg-color-start: var(--color-second);
  --bg-color-end: var(--color-middle);
}

.button--main:hover {
  background-size: 100% 100%, 100%;
}

/* Disabled button */

.button[disabled] {
  background-image: none;
  background-color: var(--color-disabled);
  cursor: default;
}

/* Trainer button */

.button--trainer {
  font-size: 18px;
  font-weight: 600;

  color: var(--trainer-text-color);
  transition: color .25s;
}

.button--trainer:hover {
  color: var(--trainer-selected-color);
}

.svg {
  display: block;
  width: auto;
  max-width: 100%;
  height: 100%;

  font: inherit;
  font-size: inherit;
  text-transform: inherit;
  text-decoration: inherit;

  color: inherit;
}

.path {
  stroke: var(--trainer-border-color);
  stroke-width: 1;
  fill: none;

  transition: stroke .25s;
}

.focus .path {
  stroke: var(--trainer-selected-color);
  stroke-width: 2;
}

.fill-path {
  stroke: none;
  stroke-width: 0;
  fill: var(--trainer-background-color);
}

.text {
  font: inherit;
  line-height: 1;
  color: inherit;
  fill: currentColor;
}

