.trainer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 147px;
  height: 3px;
  background-color: #0194ab;
}

.trainer__picture img {
  position: absolute;
  top: -77px;
  right: -125px;

  height: 200px;
}