.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;

  clip: rect(0 0 0 0);
  overflow: hidden;
  white-space: nowrap;
}

.text-align-center { text-align: center; }
.text-align-left { text-align: left; }
.text-align-right { text-align: right; }

.font-weight-bold { font-weight: 600; }