.vll__wrapper {
  display: block;
  max-width: 666px;
  margin: 0 auto;
}

.vll__image{
  width: 300px;
  height: 245px;
  float: left;

  margin: 16px;
  margin-left: 0;
}

.vll__image ~ .vll__image {
  float: right;
  margin-left: 16px;
  margin-right: 0;
}

.vll__wrapper p:first-of-type {
  margin-top: 16px;
}