<!-- Вариативность мышления -->
<h1 class="trainer-h1">Заполните таблицу, орентируясь на тематическую группу и буквы</h1>

<svg
  *ngIf="headers && headers.length > 0 && items && items.length > 0"
  class="matrix"
  [attr.viewBox]="matrixViewBox"
  [attr.width]="matrixWidth"
  [attr.height]="matrixHeight"
  preserveAspectRatio="xMidYMid meet"
  xmlns:xhtml="http://www.w3.org/1999/xhtml"
>
  <g
    *ngFor="let item of headers"
    class="header"
  >
    <path
      class="header__fill-path"
      [attr.d]="item.fillPath"
    ></path>
    <path
      class="header__path"
      [attr.d]="item.path"
    ></path>
    <text
      class="header__text"
      [attr.x]="item.x + item.width / 2"
      [attr.y]="item.y + item.height / 2 + 2"
      dominant-baseline="middle"
      text-anchor="middle"
    >{{ item.data }}</text>
  </g>

  <g
    *ngFor="let item of items"
    class="item"
    [class.item--selected]="mode === 'play' && item === currentItem"
    fastTouch propagation="true" (touch)="onTouch(item)"
  >
    <path
      class="item__fill-path"
      [attr.d]="item.fillPath"
    ></path>
    <path
      class="item__path"
      [attr.d]="item.path"
    ></path>
    <foreignObject
      [attr.x]="item.x"
      [attr.y]="item.y"
      [attr.width]="item.width"
      [attr.height]="item.height"
    >
      <xhtml:trainer-input [active]="mode === 'play' && item === currentItem"></trainer-input>
    </foreignObject>
  </g>
</svg>

<trainer-button
  *ngIf="mode === 'play'"
  class="button"
  text="Проверить"
  [active]="currentItem === undefined"
  (touch)="onButtonTouch()"
></trainer-button>
<trainer-button
  *ngIf="mode === 'result'"
  class="button"
  text="Продолжить"
  [active]="currentItem === undefined"
  (touch)="onButtonTouch()"
></trainer-button>
