<!-- Вариативность мышления -->
<h1 class="trainer-h1">Заполните&nbsp;таблицу<br>существительными,&nbsp;орентируясь<br>на&nbsp;первую&nbsp;букву&nbsp;слова</h1>

<svg
  class="matrix"
  [attr.viewBox]="matrixViewBox"
  [attr.width]="matrixWidth"
  [attr.height]="matrixHeight"
  xmlns="http://www.w3.org/2000/svg"
  xmlns:xlink="http://www.w3.org/1999/xlink"
  preserveAspectRatio="xMidYMid meet"
>
  <g
    *ngFor="let item of headers"
    class="header"
  >
    <path
      class="header__fill-path"
      [attr.d]="item.fillPath"
    ></path>
    <path
      class="header__path"
      [attr.d]="item.path"
    ></path>
    <text
      class="header__text"
      [attr.x]="item.x + item.width / 2"
      [attr.y]="item.y + item.height / 2 + 2"
      dominant-baseline="middle"
      text-anchor="middle"
    >{{ item.data }}</text>
  </g>

  <g
    *ngFor="let item of items"
    class="item"
    [class.item--selected]="mode === 'play' && item.isSelected"
  >
    <path
      class="item__fill-path"
      [attr.d]="item.fillPath"
    ></path>
    <path
      class="item__path"
      [attr.d]="item.path"
    ></path>
    <foreignObject
      [attr.x]="item.x"
      [attr.y]="item.y"
      [attr.width]="item.width"
      [attr.height]="item.height"
    >
      <xhtml:input
        type="text"
        class="input input--trainer"
        [message]="mode === 'result' && (isSuccess && 'success' || 'error') || undefined"
        [disabled]="mode === 'result'"
        [(ngModel)]="item.data"
        (enter)="mode === 'result' && finish()"
        (focus)="item.isSelected = true"
        (blur)="item.isSelected = false"
        focusable
      />
    </foreignObject>
  </g>
</svg>

<button
  *ngIf="mode==='play'"
  class="button button--trainer"
  (click)="showResult()"
  focusable
>Проверить</button>

<button
  *ngIf="mode === 'result'"
  class="button button--trainer"
  (click)="finish()"
  focusable
>Продолжить</button>
