:host {
  --rune-size: 50px;
  --column-width: 200px;
  --gap: 1px;
  --padding: 2px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
  min-width: 100%;
  flex: 1 1 100%;
  max-height: 100%;

  position: relative;
}

.matrix {
  display: block;
  width: auto;
  max-width: 100%;
  height: auto;

  margin-top: var(--trainer-block-margin);

  font-family: inherit;
  font-size: 18px;
}

.item {
  cursor: pointer;
}

.header__path,
.item__path {
  stroke: var(--trainer-border-color);
  stroke-width: 1;
  fill: none;

  position: relative;
  z-index: 999;
}

.item__path {
  transition: stroke .25s;
}

.item--selected .item__path {
  stroke: var(--trainer-selected-color);
  stroke-width: 2;
}

.header__fill-path,
.item__fill-path {
  stroke: none;
  stroke-width: 0;
}

.header__fill-path {
  fill: var(--trainer-background-color);
}

.item__fill-path {
  fill: transparent;
  transition: fill .25s;
}

.header__text,
.item__text {
  font-family: inherit;
  font-size: inherit;
  font-weight: 600;
  line-height: 1;
  color: var(--trainer-text-color);
  fill: currentColor;
}

.item__text {
  font-size: 16px;
  font-weight: 400;
}

.button {
  margin-top: var(--trainer-block-margin);
  margin-bottom: auto;
}