:host {
  width: 100%;
  min-width: 100%;
  max-width: 100%;

  min-height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 12px;

  position: relative;
  user-select: none;
}

@media (max-width: 600px) {
  :host {
    padding: 4px;
  }
}

.form {
  flex-shrink: 0;
  width: 100%;
  max-width: 456px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 24px;

  background-color: var(--color-background);
  box-shadow: var(--shadow-field);
  border-radius: 9px;
}

.logo {
  flex-shrink: 0;

  display: block;
  width: 123px;
  height: 60px;

  color: var(--color-error);
  cursor: pointer;
}

.fieldset {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;

  margin: 0;
  margin-top: 22px;
  padding: 0;

  border: 0 none;
}

.fieldset--social {
  margin-top: 32px;
  overflow: hidden;
}

.legend {
  display: block;
  margin: 0 auto;
  padding: 0;

  font-size: 20px;
  font-weight: 400;
  line-height: 1;

  text-transform: uppercase;
}

.legend--social {
  font-size: 13px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.64);

  position: relative;
}

.legend--social::before {
  content: "";
  display: block;

  position: absolute;
  top: calc(50% - 1px);
  right: calc(100% + 4px);
  width: 200%;
  height: 2px;

  background-color: rgba(0, 0, 0, 0.32);
}

.legend--social::after {
  content: "";
  display: block;

  position: absolute;
  top: calc(50% - 1px);
  left: calc(100% + 4px);
  width: 200%;
  height: 2px;

  background-color: rgba(0, 0, 0, 0.32);
}


.input {
  margin-top: 24px;
}

.button {
  width: 100%;
  margin-top: 24px;
}

.social-buttons {
  margin-top: 16px;
}

.switch {
  flex-shrink: 0;
  width: 100%;
  max-width: 456px;

  margin-top: 24px;
  padding: 24px;

  background-color: var(--color-background);
  box-shadow: var(--shadow-field);
  border-radius: 9px;
}

.switch p {
  margin: 0;

  font-size: 15px;
  font-weight: 400;
  line-height: 1;

  text-align: center;
  white-space: nowrap;
}

.switch a {
  color: var(--color-primar);
}