<h1>Первые буквы</h1>
<h2>8 слов</h2>
<p>Разум интерпретирует информацию с помощью набора устоявшихся обозначений.</p>
<p>Избери себе друга заблаговременно, ибо жизнь весьма скоротечна.</p>
<p>Верьте в себя и не поддавайтесь чужому влиянию.</p>
<p>Не верьте никому, кто призывает вас изменить себя.</p>
<hr>
<p>Не хлопайте прежними дверями и не сжигайте мосты.</p>
<p>Сосредоточьтесь на цели, как будто она уже достигнута.</p>
<p>Если есть возможность отказаться от дискомфортного решения – отказывайтесь.</p>
<p>Даже в трудные минуты Бог всегда идет рядом.</p>
<p>Мы все являемся Богами, только забыли об этом.</p>
<p>Ведите простую жизнь и цените то, что имеете.</p>
<hr>
<p>Подлинный успех – это авторская работа верно направленной мысли</p>
<p>Один час ученья ценнее ночи, проведенной в молитвах.</p>
<p>В каждое свое мгновенье человек определяет свою судьбу.</p>
<p>Болезнь – это тревожное состояние мысли в видимой форме.</p>
<p>Одна маленькая неточность заставляет порой писать тонны объяснений.</p>
<hr>
<p>Изгнание из рая часто совершается через триумфальную арку.</p>
<p>Мир, как зеркало, отражает ваше отношение к нему.</p>
<p>Единственная настоящая ошибка – не исправлять своих прошлых ошибок.</p>
<p>Нередко дерево поддерживается одним лишь своим прогнившим стволом.</p>
<p>Слово всегда предоставляется тому, кто кричит громче всех.</p>
<hr>
<p>Никакие две теоретически идентичные детали не бывают одинаковыми.</p>
<p>Никогда не вступайте в сражение с неодушевленным предметом.</p>
<p>Чем меньше делаешь, тем меньше ошибок можешь совершить.</p>
<p>У низости есть пределы; у глупости их нет.</p>
<p>Такой вещи как бесплатный обед просто не существует.</p>
<hr>
<p>Никто не считает, что зарабатывает слишком много денег.</p>
<p>Общение продуктивно, когда информация дается в структурированном виде.</p>
<p>Не ситуация делает нас, а мы создаем ситуацию.</p>
<p>Базовой социальной потребностью является потребность в эмоциональном контакте.</p>
<p>Какой я, такие на меня и идут ситуации.</p>
<hr>
<p>Тот, кто смеется последним, вероятно, не понял шутку.</p>
<p>Друзья приходят и уходят, а вот враги накапливаются.</p>
<p>Скорость приближающегося автомобиля прямо пропорциональна длине пешеходного перехода.</p>
<p>Многие жалуются на память, почти никто – на сообразительность.</p>
<p>Никогда не оказывайте услуг, о которых не просят.</p>
<hr>
<p>Чтобы одолеть конкуренцию, вы должны одолеть собственную компанию.</p>
<p>Мозг, хорошо устроенный, стоит больше, чем мозг, хорошо наполненный.</p>
<p>Всякая реклама есть средство отделить человека от его денег.</p>
<p>У капитала одно единственное жизненное стремление-стремление возрастать.</p>
<p>Политика: управление общественными делами ради выгоды частного лица.</p>
<hr>
<h2>9 слов</h2>
<p>Чтобы избавиться от стресса, необходимо проснуться и сбросить важность.</p>
<p>Отказавшись от важности, вы получаете свободу выбора своей судьбы.</p>
<p>Принимая и транслируя позитивную энергию, вы создаете свой рай.</p>
<p>Срабатывает не сама примета, а ваше отношение к ней.</p>
<p>Если вам приходится себя уговаривать, значит, душа говорит «нет».</p>
<hr>
<p>Излучая негативную энергию, человек сам ухудшает слой своего мира.</p>
<p>Когда государство начинает убивать, оно всегда называет себя Родиной.</p>
<p>Одна смерть – это трагедия, а миллион смертей – это статистика.</p>
<p>И ад, и рай в душе мы создаем сами.</p>
<p>Освободите свое сердце от волнений – большинство из них бесполезны.</p>
<hr>
<p>Одинаково опасно и безумному вручать меч и бесчестному – власть.</p>
<p>Если много денег – не радуйся, если мало – не горюй.</p>
<p>Не пускайте в слой своего мира любую негативную информацию.</p>
<p>Принимая и транслируя негативную энергию, вы создаете свой ад.</p>
<p>Откажитесь от намерения получить и замените его намерением дать.</p>
<hr>
<p>Встречайте деньги с любовью и вниманием, а расставайтесь беззаботно.</p>
<p>Истинная красота женщины – в здоровье, в умении быть энергичной.</p>
<p>Никто никогда не забывает, где он закопал топор войны.</p>
<p>Очень богатые люди не похожи на нас с вами.</p>
<p>Чем больше у нас богатых, тем для страны лучше.</p>
<hr>
<p>Мечты сбываются у тех, кто обладает по-детски чистой верой.</p>
<p>Люди, не имеющие высокой цели, обычно ничего не добиваются.</p>
<p>Великие умы имеют цели, все же прочие имеют желания.</p>
<p>Лишь непоколебимая вера гарантирует награду в виде исполненной мечты.</p>
<p>Вмешательство рассудка в момент «считывания» информации должно быть минимальным.</p>
<hr>
<p>Ушло время «становиться лучше», настало время стать кем-то иным.</p>
<p>Попытка рационализировать и дисциплинировать свою жизнь свойственна людям зрелым.</p>
<p>Люди терпимы лишь к тому, что их не касается.</p>
<p>Истиной становится только то, что истина и для другого.</p>
<p>Никогда не надо объяснять свои действия действиями других людей.</p>
<hr>
<p>Совершенствование начинается с контроля над умом как отправной точки.</p>
<p>Люди специализируются в той области, где они слабее всего.</p>
<p>Невозможно переговорить человека, который знает, о чем говорит.</p>
<p>Слуху нельзя верить, пока он не будет официально опровергнут.</p>
<p>Каждому действию всегда соответствует равная и противоположно направленная критика.</p>
<hr>
<p>Фанатизм состоит в удвоении усилий, когда цель напрочь забыта.</p>
<p>Невозможно унизить человека, не оказавшись униженным вместе с ним.</p>
<p>Не бывает большей искренности, чем у политика, который врет.</p>
<p>Великие личности всегда наталкиваются на яростное противодействие посредственных умов.</p>
<p>Истина только то, что не зависит от вывихов сознания.</p>
<hr>
<h2>10 слов</h2>
<p>Отказавшись от намерения получить, вы получите то, от чего отказались.</p>
<p>Деньги приходят сами, как сопутствующий атрибут на пути к цели.</p>
<p>Каждый человек создает отдельный слой мира, в котором он и живет.</p>
<hr>
<p>Отклик на негативное событие индуцирует переход на негативные линии жизни.</p>
<p>В любой жизненной игре необходимо участвовать отстраненно, как играющий зритель.</p>
<p>Чтобы отказаться от чувства вины, достаточно позволить себе быть самим собой.</p>
<hr>
<p>Ситуация становится необратимой, когда уже нельзя сказать: «Давайте все забудем!»</p>
<p>Закладывая что-то в память компьютера, помните, куда вы это положили.</p>
<hr>
<p>Достижение собственной цели потянет за собой исполнение всех остальных желаний.</p>
<p>При общении с человеком надо учитывать свойства его понятийного аппарата.</p>
<hr>
<p>Прогресс есть замена неправильной теории на неправильную же, но уточненную.</p>
<p>Чтобы привлечь к себе внимание, достаточно проявить интерес к окружающим.</p>
<p>Чтобы выбрать нужный сценарий, необходимо представить, что будет именно так.</p>
<hr>
<p>Не накапливайте энергию, а позвольте ей свободно проходить через вас.</p>
<p>Не гоняйся за счастьем: оно всегда находится в тебе самом.</p>
<p>Каждый стоит столько, сколько стоит то, о чём он хлопочет.</p>
<hr>
<p>Мечта человека, всецело посвятившего себя какому-то делу, со временем материализуется.</p>
<p>Души, которые узнают друг друга, собираются вместе, другие же ссорятся.</p>
<hr>
<p>Тому, кто знает истинную природу вещей, какая нужда в учителе?</p>
<p>Знание заслуживает того, чтобы за ним отправиться даже в Китай.</p>
<hr>
<p>Для того чтобы усовершенствовать ум, надо больше размышлять, чем заучивать.</p>
<p>Очень полезно оттачивать и шлифовать свой ум об умы других.</p>
<p>Ум подобен здоровью: тот, кто им обладает, его не замечает.</p>
<hr>
<p>Много говорить – это источник опасности; молчание – это средство избежать несчастий.</p>
<p>Точность прогнозирования всецело зависит от уровня знаний человека о законах.</p>
<p>Когда разум переполнен разного рода решениями, совершенно невозможно «зачать» полноценную идею.</p>
<hr>
<p>Болезнь никогда не исходила от Бога, всегда от самого человека.</p>
<p>Человек, слишком много разговаривающий, создает свой мир, отличный от реального.</p>
<hr>
<p>Не давайте возможности устанавливать в вашем биокомпьютере чужое программное обеспечение.</p>
<p>Кто вмешивается в чужие тайны и дела, тот развращает людей.</p>
<hr>
<p>Чтобы изменить форму материи, ход событий, надо кристаллизовать свой выбор.</p>
<p>Никогда не совершайте того, за чем вас могут застичь врасплох.</p>
<p>Никогда не задерживайте ни начало совещания, ни начала обеденного перерыва.</p>
<hr>
<p>Если не можете избавиться от чего-то, сделайте это гвоздем конструкции.</p>
<p>Чем короче жизнь элементарной частицы, тем дороже обходится ее получение.</p>
<p>Человеку свойственно ошибаться, но по-настоящему все запутать может только компьютер.</p>
<hr>
<p>Описки и опечатки остаются незамеченными, пока не нажата кнопка – «Послать».</p>
<p>Каждый в состоянии держать в руке румпель, когда море спокойно.</p>
<p>В день экзамена преподаватель никогда не болеет и не отсутствует.</p>
<p>Никогда не вкладывайте капитал во что-либо, способное есть или кусаться.</p>
<hr>
<p>Если справиться с возмущением невозможно, позвольте себе эту маленькую слабость.</p>
<p>Мир людей состоит из отдельных слоев, наложенных друг на друга.</p>
<p>Здоровый желудок не принимает дурную пищу, здоровый ум – дурные взгляды.</p>
<hr>
<p>Конкуренция обеспечивает наилучшее качество продуктов и развивает наихудшие качества людей.</p>
<p>Для меня богатство – это инструмент, позволяющий достичь чётко сформулированных целей.</p>
<p>Люди, которые читают книги, всегда управляют теми, кто смотрит телевизор.</p>
<hr>
<p>Жизнь – это подняться, опуститься и жить дальше с запасом высоты.</p>
<p>Критерий нашего отношения к любой новой информации: понимаю – не понимаю.</p>
<p>Нет объективных причин для отрицательных эмоций. Каждая ситуация – источник информации.</p>
<p>Мир сошел с ума, но никто об этом не знает.</p>
<hr>
<h2>11 слов</h2>
<p>Говоря всегда правду и только правду, Вы заслужите репутацию отъявленного лжеца.</p>
<p>Ставьте только те задачи, по которым решение есть только у Вас.</p>
<p>Решение сложной задачи поручайте ленивому сотруднику – он найдет самый простой путь.</p>
<hr>
<p>Нет невыполнимой работы для человека, который не обязан делать ее сам.</p>
<p>Смирившись с поражением, больше не размышляйте, а просто идите к цели.</p>
<p>Не включайте в целевой слайд никакие сценарии: вы это уже умеете.</p>
<p>Надежность оборудования обратно пропорциональна числу и положению лиц, за ним наблюдающих.</p>
<hr>
<p>Допустимые отклонения будут накапливаться так, чтобы причинить максимум трудностей при сборке.</p>
<p>Заказчик вносит в проект совершенно необходимые изменения только после завершения работы.</p>
<p>Вероятность того, что бутерброд упадет маслом вниз, прямо пропорциональна стоимости ковра.</p>
<p>Три человека испокон веков предают: больной – врача, ученик – учителя, сын – мать.</p>
<p>Известно, что критик – это тот, кто судит о других по себе.</p>
<p>Смерть есть не что иное, как переход на другой психоэнергетический уровень.</p>
<hr>
<p>Преодолеть фатализм возможно лишь путем сознательного перехода на иной психоэнергетический уровень.</p>
<p>Способность думать – замечательный дар, но способность не думать – дар еще больший.</p>
<p>Правильно смотреть на людей – наука: через взгляд люди обмениваются подсознательными программам.</p>
<hr>
<p>Чем выше уровень эволюционного развития, тем большей свободой воли человек наделен.</p>
<p>Судьбу считают слепой главным образом те, кому она не дарует удачи.</p>
<hr>
<p>Человек – это не тело, содержащее разум, а разум, действующий посредством тела</p>
<p>Самые простые вопросы – те, относительно которых вы не знаете абсолютно ничего.</p>
<p>В каждом творении гения мы распознаем собственные мысли, когда-то отвергнутые нами.</p>
<p>Глядя на рельсы, никогда не угадаешь, в какую сторону прошел поезд.</p>
<p>Кража идей у одного человека – плагиат; кража у многих – научное исследование.</p>
<hr>
<p>После того как прибор собран, на рабочем столе обнаружатся дополнительные детали.</p>
<p>Приятнее всего заниматься на компьютере тем, что более всего бесполезно.</p>
<p>Куда легче бороться за принципы, нежели жить в соответствии с ними.</p>
<hr>
<p>Не беспокойтесь по поводу врагов. Гораздо больше неприятностей принесут вам союзники.</p>
<p>Всякий раз, когда включаешь радио, слышишь последние такты своей любимой песни.</p>
<p>Никакого встречного движения нет, пока вам не нужно делать левый поворот.</p>
<p>Успешный бизнес приходит во власть и превращает её в успешный бизнес.</p>
<p>Мы до сих пор пытаемся доить тех, кто и так лежит.</p>
<p>Своим делом человек должен заниматься так, словно помощи ему искать негде.</p>
<hr>
<p>За всякое порученное дело должен отвечать один и только один человек.</p>
<p>Спотыкаясь о правду, человек чаще всего вскакивает и бодро продолжает идти.</p>
<p>Есть вещи, которые мы не можем узнать, что это за вещи.</p>
<p>Наблюдайте за вашим телом, если хотите, чтобы ваш ум работал правильно.</p>
<hr>
<p>Пытливости нашей нет конца, удовлетворённость ума – признак его ограниченности или усталости.</p>
<p>Тот, кто обращается к старому, способен открывать новое, достоин быть учителем.</p>
<p>Каждый человек – проводник бесконечного океана знания и силы, лежащего позади него.</p>
<hr>
<h2>12 слов</h2>
<p>Даже если Вы сказали святую правду, вам все равно никто не поверит.</p>
<p>Если у веревки есть один конец, у нее должен быть и другой.</p>
<p>Чем дольше Вы ждете, тем больше вероятность, что Вы ждете не там.</p>
<p>Люди, к которым Вас влечет, неизменно думают, что Вы им кого-то напоминаете.</p>
<hr>
<p>Возможность для выгодной сделки появляется именно тогда, когда у вас нет денег.</p>
<p>Когда несколько человек берут такси, за всех платит сидящий на переднем сиденье.</p>
<p>Не надо пытаться изменить других, но и себя менять тоже не следует.</p>
<hr>
<p>Не пускать негативную энергию – означает не избегать, а намеренно игнорировать, не интересоваться.</p>
<p>Если бы идиотские проекты не финансировались, мир остался бы без случайных открытий.</p>
<p>Никогда не знают, кто был прав, но всегда известно, кто в ответе.</p>
<p>Невозможно вернуть три вещи: стрелу, пущенную из лука, необдуманное слово, упущенную возможность.</p>
<p>Знание о существовании неизвестных человеку знаний дает ему возможность избегать неразумных действий.</p>
<p>Глаза – двери к вашим тайнам. Закройте эти двери, чтобы не стать уязвимыми.</p>
<hr>
<p>Человек живет внутри своего сознания, а не вне него, во внешнем мире.</p>
<p>Оппоненты не могут согласиться с вами, если вы не соглашаетесь с ними.</p>
<p>Когда кто-либо что-то уронит, все будут пинать это вместо того, чтобы поднять.</p>
<hr>
<p>Если бы не было последней минуты, ничего вообще не удавалось бы сделать.</p>
<p>Ничто никогда не было построено по графику или в пределах сметы.</p>
<hr>
<p>Компромисс всегда обойдется дороже, чем любой из вариантов, которые он пытается примирить.</p>
<p>Если за ошибку в расчетах несут ответственность несколько человек, виновных не окажется.</p>
<p>Сразу же после того, как вы отойдете от принтера, он «зажует» бумагу.</p>
<p>Если дешевле купить новое устройство, руководство компании будет настаивать на ремонте старого.</p>
<p>У компьютеров нет интеллекта. Они только думают, что он у них есть.</p>
<hr>
<p>Если миллион человек верят в какую-то глупость, она все равно останется глупостью.</p>
<p>Овцам бесполезно принимать резолюцию в пользу вегетарианства, пока волки придерживаются другого мнения.</p>
<p>Ад – это место, где все идеально проходит испытания и ничего не работает.</p>
<hr>
<p>Люди делятся на две группы – праведников и грешников, – причем делят их праведники.</p>
<p>Даже самые лучшие друзья не могут поприсутствовать на похоронах друг у друга.</p>
<hr>
<p>Каждый кулинарный рецепт включает в себя один продукт, которого у вас нет.</p>
<p>Притчи отвечают на вопросы, на которые не могут ответить наука и религия.</p>
<p>Труд ценится дорого, когда дешевеет капитал. Ум ценится дорого, когда дешевеет сила.</p>
<p>Кто при известных обстоятельствах не лишается ума, тот не имел чего лишиться.</p>
<p>Каскад удач следует только в том случае, если вы прониклись первым успехом.</p>
<hr>
<p>Меньше миллиона – это деньги. Больше миллиона – это финансы. Больше миллиарда – это дефицит.</p>
<p>Вести бизнес без рекламы – всё равно что подмигивать девушкам в полной темноте.</p>
<p>Войско баранов, возглавляемое львом, всегда одержит победу над войском львов, возглавляемых бараном.</p>
<hr>
<p>Только разорвав цепи прошлого, можно получить доступ ко всем реальностям квантового поля.</p>
<p>Диалог становится реальной практикой только в живом контакте знающего и ищущего знание.</p>
<hr>
<p>Информация, не пережитая как событие, не вносит нового качества в нашу целостность.</p>
<p>Умение ставить разумные вопросы есть важный и необходимый признак ума и проницательности.</p>
<hr>
<h2>13 слов</h2>
<p>Если вы одновременно нажали на две клавиши, напечатается та, которую Вы задели нечаянно.</p>
<p>Расстояние до выхода на посадку прямо пропорционально времени, за которое еще можно успеть.</p>
<hr>
<p>После того, как Вы собрали разобранный по ошибке прибор, обнаружится, что он все-таки сломан.</p>
<p>Никогда не выявляйте ошибки, если Вы не знаете, что с ними делать дальше.</p>
<hr>
<p>Человек в первую очередь проявляет себя, а затем уж думает о достижении результата.</p>
<p>Если я знаю, что ничего не знаю, я сделаю все, чтобы знать больше.</p>
<hr>
<p>Те же самые средства, что делают человека способным разбогатеть, мешают ему наслаждаться богатством.</p>
<p>Я верю, настанет день, когда больной неизвестно чем человек отдастся в руки физиков.</p>
<hr>
<p>Судьба всегда приходит как случай. Птица выбирает дерево, а не дерево птицу.</p>
<p>В субъективной реальности людей все распределено так же неравномерно, как и в объективной.</p>
<p>В наше время образование должно представлять непрерывный процесс, так как знания стремительно устаревают.</p>
<p>Ничто в мире не является более опасным, чем простодушное невежество и сознательная тупость.</p>
<hr>
<p>Терпение – неотъемлемая часть подлинного успеха, поскольку на материализацию плодов ваших усилий потребуется время.</p>
<p>Ментальные и физические усилия избавляют человека от трех зол: оправданий, безрассудства и бедности.</p>
<hr>
<p>Читая, воспринимайте материал без включения рассудка, находясь активным сознанием непосредственно в процессе чтения.</p>
<p>Историки вынуждены пропускать историю через себя согласно своему мировосприятию, а потому искажают ее.</p>
<hr>
<p>Если человек не желает сам строить свою судьбу, за него это делают другие.</p>
<p>Мы сами избираем свои радости и печали задолго до того, как испытываем их.</p>
<hr>
<p>Стать хозяином самого себя – значит стать более сознательным в своих мыслях, словах, действиях.</p>
<p>Никогда нет времени, чтобы сделать правильно, но всегда есть время, чтобы сделать заново.</p>
<p>Абсурдно делить людей на хороших и плохих. Люди бывают либо обаятельны, либо скучны.</p>
<p>Все положения гарантии и гарантийных обязательств теряют силу после оплаты счета или накладной.</p>
<hr>
<p>Все лгут, но это не имеет значения, поскольку все равно никто не слушает.</p>
<p>Хам – это человек, который говорит и говорит, когда вам хочется, чтобы он послушал.</p>
<hr>
<p>Единственные недостатки, которые беспокоят нас в окружающих, – те, которые присущи и нам самим.</p>
<p>Никогда не доверяйте человеку, который употребляет слово «братья» как сочетание глагола и местоимения.</p>
<hr>
<p>Когда вы наконец-то встречаете идеальную женщину, оказывается, что она намерена ждать идеального мужчину.</p>
<p>У какой бы карусели транспортера вы ни встали, ваш багаж попадет на другую.</p>
<hr>
<p>Чем дальше вы отправляетесь, чтобы посмотреть на затмение, тем больше шансов на сплошную облачность.</p>
<p>Если в рекламе говорят: «Один размер подходит всем», – значит, он не подходит никому.</p>
<p>Никогда столько не врут, как во время войны, после охоты и до выборов.</p>
<p>Богат тот, кто получает больше, чем тратит; беден тот, чьи траты превышают доходы.</p>
<hr>
<p>Счастливым может считаться только тот, у кого честный образ мыслей и острый ум.</p>
<p>Избери себе друга; ты не можешь быть счастлив один: счастье есть дело двоих.</p>
<hr>
<p>Если хотите иметь успех, вы должны выглядеть так, как будто вы его стоите.</p>
<p>Сохраняй хладнокровие в споре, потому что запальчивость делает ошибку проступком. А правду невежливостью.</p>
<hr>
<p>Если Вы выстрелите из пистолета в прошлое, будущее выстрелит в Вас из пушки.</p>
<p>Только два стимула заставляют работать людей: жажда заработной платы и боязнь её потерять.</p>
<hr>
<p>Человек в детском возрасте не в состоянии регулировать воздействия, которые на него направлены.</p>
<p>Как в природе, так и в государстве, легче изменить сразу многое, чем-то одно.</p>
<hr>
<h2>14 слов</h2>
<p>Если сомневаетесь в прогнозе, говорите, что данная тенденция будет иметь место и в дальнейшем.</p>
<p>Когда Вы принимаетесь за какую-нибудь работу, находится другая, которую надо сделать еще раньше.</p>
<hr>
<p>Если вы уверены, что ваш поступок встретит всеобщее одобрение, кому-то он точно не понравится.</p>
<p>Чем выше престиж людей, стоящих за гибельным планом, тем меньше шансов на его отмену.</p>
<hr>
<p>Не думайте о средствах достижения, а вживайтесь в целевой слайд, на котором цель достигнута.</p>
<p>Если Вы однажды сделали что-то правильно, то вас обязательно попросят сделать это еще раз.</p>
<hr>
<p>Чем безобиднее на вид изменения в планах, тем больше будут их влияния в дальнейшем.</p>
<p>Добавив неделю к сроку на непредвиденные задержки, добавьте еще неделю на непредвиденность непредвиденных задержек.</p>
<hr>
<p>Со счастьем дело обстоит как с часами: чем проще механизм, тем реже он портится.</p>
<p>Всегда найдется изобретательный идиот, который придумает способ, чтобы неправильная информация попала именно к вам.</p>
<p>Большинство людей, нас окружающие, просто не умеют думать – вот корни болезни, которая зовется посредственностью.</p>
<p>Сегодня постоянный образовательный процесс является насущной необходимостью, а не прихотью того или иного человека.</p>
<hr>
<p>Усилие, как ментальное, так и физическое, заставляет взойти семена открытий и поворачивает колеса предпринимательства.</p>
<p>Человеку необходимо упорядочить различные функции ума для того, чтобы развить в себе высшее восприятие.</p>
<hr>
<p>Каждый должен, прежде всего, сам решить, может ли он учиться и почему этого желает.</p>
<p>Остерегайтесь тех людей, которые имеют свою точку зрения и хотят лишь получить подтверждение ей.</p>
<hr>
<p>Непредвзятых мнений в истории не бывает, и быть не может, а значит объективности тоже.</p>
<p>Если рассмотреть любую проблему достаточно пристально, окажется, что вы сами – часть этой проблемы.</p>
<hr>
<p>Ни один производитель не пользуется производимым у себя товаром – разве что в последнюю очередь.</p>
<p>Шансы на выход компьютера из строя прямо пропорциональны важности документа, над которым вы работаете.</p>
<p>Истинность любого утверждения не имеет ничего общего с доверием, которое оно вызывает и наоборот.</p>
<p>Что бы с вами не случилось, предварительно это случится с каждым из ваших знакомых.</p>
<hr>
<p>Если на жизненном пути все гладко, значит, вы движетесь не по той полосе.</p>
<p>Автобус – это транспортное средство, которое всегда идет с другой стороны и в противоположном направлении.</p>
<hr>
<p>Как только вы собираетесь перестроиться на скоростную полосу, машины на соседних полосах прибавляют газ.</p>
<p>На любой трассе больше участков, идущих в гору, чем ровных или идущих под уклон.</p>
<hr>
<p>Не имеет значения, выиграете вы или проиграете,  …. но лишь в том случае, если выиграете.</p>
<p>Чудо-препарат – это любой препарат, который действует именно так как написано на этикетке.</p>
<hr>
<p>Шестидесятидневный гарантийный срок твердо гарантирует, что на шестьдесят первый день данное изделие подвергнется самоуничтожению.</p>
<p> Если в первом акте на стене висит ружье, то в последнем оно должно выстрелить.</p>
<p>Если говорят о рекламе, это плохая реклама. Если говорят о товаре, это хорошая реклама.</p>
<p>Партия, которая объявляет своей заслугой дождь, не должна удивляться, когда её обвиняют в засухе.</p>
<hr>
<p>Прежде всего научись каждую вещь называть ее именем: это самая важнейшая из всех наук.</p>
<p>Чтобы заработать на жизнь – надо работать. Но чтобы разбогатеть- надо придумать что-то другое.</p>
<hr>
<p>Социалисты считают, что получать прибыль – это грех. Я считаю, что настоящий грех – терпеть убытки.</p>
<p>Если вы позволите себе быть непредсказуемым, то станете живым и позволите быть живыми другим.</p>
<hr>
<p>Пространство сознания так же адаптируется к новой информации, как сам человек к новым условиям.</p>
<p>Чаще всего мы негативны лишь потому, что следствий из одной причины может быть много.</p>
<hr>
<p>Человек видит только то, что хочет видеть, и слышит только то, что хочет слышать.</p>
<p>Первый раз просто внимательно читайте от начала до конца, не заботясь о понимании прочитанного.</p>
<hr>
<p>
Задание: Объем информации увеличился. Прочитать одно выражение, интонационно оформив, расставив логические ударения. Воспроизвести по памяти, записывая первую букву каждого слова. Допустимы замены слов, но мысль не должна быть искажена.</p>
<hr>
<h2>15 слов </h2>
<p>Всегда не хватает времени, чтобы сделать работу как надо, но на переделку время всегда находится.</p>
<p>Если неприятности не произошли, то в конечном случае оказывается, что лучше бы они все-таки случились.</p>
<hr>
<p>Нужно 2 года, чтобы научиться говорить, и 60 лет, чтобы научиться держать язык за зубами.</p>
<p>Многие, думая, что они все смогут купить за свои богатства, сами прежде всего продали себя.</p>
<hr>
<p>Как может возникнуть идея бессмертия, если все люди смертны? Бессмертие – не идея, а самочувствие жизни.</p>
<p>Смерть – это стрела, пущенная в тебя, а жизнь – то мгновенье, что она до тебя летит.</p>
<hr>
<p>Жить против воли отвратительно; но еще ужасней было бы стать бессмертным, если этого не желаешь.</p>
<p>Быть трусом позорно, но еще позорнее выказывать храбрость только из боязни, что тебя назовут трусом.</p>
<hr>
<p>Глубокие мысли – это железные гвозди, вбитые в ум так, что их ничем не вырвать оттуда.</p>
<p>Боги скоро раскаялись, что сотворили человека. Мы равномерно им ответствуем: человек раскаялся, что сотворил богов.</p>
<p>Необходимо ставить конкретные цели и вырабатывать планы, которые обеспечат длительный образовательный рост каждого члена семьи.</p>
<p>Если человек не открыл ничего такого, за что готов умереть, он не пригоден для жизни.</p>
<hr>
<p>Подлинный успех приходит к людям, которые ведут сбалансированный образ жизни и не ударяются в крайности.</p>
<p>Осознайте: лучший из всех возможных для вас путей – выход на тропу к приобретению внутренних знаний.</p>
<hr>
<p>Время есть все сразу – оно не течет, оно не дискретно, оно – «океан», то есть субстанция.</p>
<p>Болтливый попугай попал в клетку; другие же птицы, которые могли не болтать, всюду летают свободными.</p>
<hr>
<p>Историю пишет победитель и только он вправе решать, что в ней оставлять, а что убирать.</p>
<p>Весь мир – от гена до звезд – является гипертекстом, который можно расшифровать, а значит и переписать.</p>
<hr>
<p>Закон случая перестает влиять на жизнь человека, как только он наполняет его их намеренными, сознательными действиями.</p>
<p>Судьба человека предопределяется теми поступками, которые он совершил в предыдущих своих воплощениях. Подсознание регистрирует все.</p>
<p>Если единственное, что у вас меняется, – это молоток, тогда все вокруг будут     выглядеть как гвозди.</p>
<p>После того как ошибка была обнаружена и исправлена, выясняется, что с самого начала все было правильно.</p>
<hr>
<p>Человек всегда готов умереть за идею при условии, что эта идея ему не совсем ясна.</p>
<p>Успех всегда приходит незаметно, а вот провал – у всех на глазах, при полном стечении публики.</p>
<hr>
<p>Миллионы людей страстно желают бессмертия, однако не знают, чем им заняться в дождливый воскресный день.</p>
<p>Из того, что все на свете стало другим, отнюдь не следует, будто хоть что-нибудь изменилось.</p>
<hr>
<p>Секрет успеха – в искренности. И если вам удается имитировать её, то вы обречены на успех.</p>
<p>Если перед вами стоит сложная задача, поручите её лентяю – он найдет более простой способ выполнения.</p>
<hr>
<p>Поразительно насколько любезно начинают относится к вам люди, когда они знают, что вы вот-вот уйдете.</p>
<p>Спеши делать добро лучше настоящим утром, чем наступающим вечером: ибо жизнь скоротечна и время летит.</p>
<p>Нашему остроумию, как кажется, более свойственны быстрота и внезапность, тогда как уму- основательность и медлительность.</p>
<p>Ум острый, но не широкий выскакивает вперёд на каждом шагу, но двигаться вперёд не может.</p>
<hr>
<p>Все хотят, чтобы что-нибудь произошло, и все боятся, как бы чего-нибудь не случилось.</p>
<p>Над принятием законов думают сотни и сотни, а над тем, как обойти закон, думают миллионы.</p>
<hr>
<p>Интернет-  нечто столь огромное, могущественное и бессмысленное, что для некоторых он стал идеальным заменителем жизни.</p>
<p>Весь секрет бизнеса в том, чтобы знать что-то такое, чего не знает больше никто.</p>
<hr>
<p>Все уже так плохо, что хуже быть не может. Следовательно, может быть только лучшее. Логично?</p>
<p>Не пытайтесь найти истину в словах. Они только указывают на нее, но ею не являются.</p>
<p>Одной из основных проблем в освоении Диалога с Миром является искусство находиться в настоящем времени.</p>
<p>Консультанты – загадочные люди: они запрашивают у вас какой-нибудь показатель, а затем выдают его в отчете.</p>
<hr>
<h2>16 слов</h2>
<p>Если обувь на ноге, то она отвратительно выглядит; если Вам понравилась модель, то Вашего размера нет.</p>
<p>Если товар хорош и всех устраивает, его перестают выпускать и заменяют на более дорогой и неудобный.</p>
<hr>
<p>Первые 90 % работы отнимают 10 % времени, а последние 10 % – оставшиеся 90% времени.</p>
<p>Смерть страшна, но не страшнее было бы сознание, что будешь жить вечно и никогда не умрешь.</p>
<hr>
<p>Люди приходят друг к другу только потому, что им надо слышать о победах, которые они одерживают.</p>
<p>Жизнь – это постоянный процесс возрождения. Трагедия в том, что мы умираем, так и не успев полностью родиться.</p>
<hr>
<p>Воздержи себя от убийства животных: пролитие крови оных привело людей к неистовству проливать кровь подобных себе.</p>
<p>Никто не может достичь какого-либо действительного и длительного успеха или «разбогатеть» в бизнесе, будучи конформистом.</p>
<hr>
<p>Когда между собакой и кошкой вдруг возникает дружба, то это не иначе, как союз против повара.</p>
<p>В подлинных отношениях есть направленный вовне поток бдительного внимания к другому человеку и нет никаких ожиданий.</p>
<p>Счастье, благосостояние, удовлетворенность приостанавливают всякое развитие в физическом мире, а в духовном – это смерть, начало распада.</p>
<p>Мудрейший из людей по сравнению с Богом покажется обезьяной в отношении мудрости, красоты и всего прочего.</p>
<hr>
<p>Душа спящего подобна пауку посредине паутины: она тотчас стремится в задетую часть тела, и человек пробуждается.</p>
<p>Думай о конце дела, о том, чтобы счастливо выйти, а не о том, чтобы счастливо войти.</p>
<hr>
<p>Я предпочёл бы получать доход от 1% усилий ста человек, чем от 100% своих собственных усилий.</p>
<p>Умён не тот, кто не делает ошибок. Умён тот, кто умеет легко и быстро исправлять их.</p>
<hr>
<p>Женщина беспокоится о будущем, пока не выйдет замуж. Мужчина не беспокоится о будущем, пока не женится.</p>
<p>Чем ниже человек душой, чем выше задирает нос. Он носом тянется туда, куда душою не дорос.</p>
<hr>
<p>Наша энергия уходит туда, куда направлено наше внимание. Внимание должно быть направлено на повышение качества жизни.</p>
<p>Каждому есть что дать, но мало тех, кто хочет это взять,- вот в чем суть проблемы.</p>
<p>Мечтать – значит рисовать что-то в своем воображении. Рисовать что-то в своем воображении – значит действовать. Действовать – значит достигать.</p>
<p>Только посредством изменения большого психоэнергетического уровня одного из участников вероятностного события можно избежать свершения этого события.</p>
<hr>
<p>Один из главных барьеров к оригинальному мышлению – это те мысли, что уже теснятся в вашей голове.</p>
<p>Вредные мысли и выражения не должны использоваться даже против врага, поскольку неизбежно они возвратятся обратно.</p>
<hr>
<p>В генетическом коде записаны и неудачи в бизнесе и семейной жизни, и здоровье – физическое, психическое, интеллектуальное.</p>
<p>Никогда пристально не смотрите на человека, чтобы его не подавлять. Мы не имеем на это права.</p>
<hr>
<p>По закону Кармы, если тело выстрадало все страдания, которые предназначены для многих жизней – будущего рождения не будет.</p>
<p>Тем, кто любит колбасу и уважает закон, никогда не следует видеть, как делается то и     другое.</p>
<hr>
<p>Люди и страны начинают прислушиваться к голосу разума лишь тогда, когда все возможности уже исчерпаны.</p>
<p>Если два человека соглашаются во всем, можете быть уверены, что реально думает только один из них.</p>
<p>Люди положительно отреагируют на любые плохие новости, если только размах катастрофы будет раскрываться перед ними постепенно.</p>
<p>Если бы не существовало женщин, все деньги в этом мире не имели бы ни малейшего смысла.</p>
<hr>
<p>По какую бы сторону двери ни находилась собака или кошка, она всегда не там, где надо.</p>
<p>Дети не предсказуемы. Вы никогда не знаете, на какой очередной нелогичности они поймают вас в следующий раз.</p>
<hr>
<p>Если у вас есть время, то не будет денег. Если есть деньги, то не будет времени.</p>
<p>Расстояние до аэропорта обратно пропорционально времени, оставшемуся у вас для того, чтобы успеть на свой рейс.</p>
<hr>
<p>Захватывающие эпизоды происходят только в те моменты, когда вы засмотрелись на табло или выскочили купить хот-дог.</p>
<p>Ностальгия – это осознание того, что жизнь была не настолько невыносимой, какой она казалась в своё время.</p>
<hr>
<p>Купленные деталь или инструмент будут соответствовать спецификации вплоть до и только вплоть до прохождения входного контроля.</p>
<p>Двадцать первый век будет веком психологической революции – ибо иначе не разрешить большинства проблем современного развития человека.</p>
<hr>
<h2>17 слов</h2>
<p>Если ваш шеф считает что-то возможным, он почти наверняка прав, если он считает что-то невозможным, он заблуждается.</p>
<p>Если вы сохраняете голову на плечах, когда все остальные теряют свою, то вы просто не понимаете ситуацию.</p>
<hr>
<p>Человечество никогда не достигнет высшего идеала совершенства, иначе пришлось бы предположить наступление застоя в его духовном развитии.</p>
<p>Любая категоричность в замахе больше самой себя, а это значит, что она иссякает раньше, чем успевает осуществиться.</p>
<hr>
<p>Людям следует иметь в виду, что во многих сферах успех достигается не «с наскока», а через пример.</p>
<p>Древние римляне сводили все юридические обязанности к трем: честно жить, не делать зла другим, каждому воздавать свое.</p>
<hr>
<p>Жизнь часто кажется чем-то вроде долгого кораблекрушения, обломки которого – дружба, слава, любовь: ими усеяны берега нашего существования.</p>
<p>Искать надо там, где ничего нет, беспрерывно твердя про себя: «И на маленьких картинах бывают длинные дороги».</p>
<hr>
<p>Какое бы ни постигло тебя несчастье, удержи себя от слез: храни оные для пролития о несчастии других.</p>
<p>Мир существует не для того, чтобы мы его познавали, а для того, чтобы воспитывали себя в нем.</p>
<p>Будь повелителем самого себя: царствуя и благоуправляя собою, ты будешь иметь превосходное владычество и самую важную должность.</p>
<p>Друзей-помощников нужно выбирать с осмотрительностью, платить им благодарностью, но самому ни от кого благодарности не ждать.</p>
<hr>
<p>Приступая к делу, надо быть смелым – чтобы его начать, разумным – чтобы его исполнить, выносливым – чтобы его сохранить.</p>
<p>Если женщина хочет отказать, она говорит «нет». Если женщина пускается в объяснения, она хочет, чтобы её убедили.</p>
<hr>
<p>Нельзя полагаться на те доходы, которые мы только надеемся получить, какими бы верными они нам ни казались.</p>
<p>Экономический контроль неотделим от контроля над всей жизнью людей, ибо, контролируя средства, нельзя не контролировать и цели.</p>
<hr>
<p>Если бы американцам приходилось ставить свои холодильники перед своими домами, новые марки холодильников появлялись бы каждую неделю.</p>
<p>Вещественный мир стал меняться с большой скоростью, а вместе с ним стала меняться и научная картина Мира.</p>
<hr>
<p>Мы тратим массу психических сил на борьбу за то, что уже минуло и что уже изменить нельзя.</p>
<p>Люди часто пытаются подменить эмоциональный контакт контактом на уровне сознания, что является проявлением потребности в социальной территории.</p>
<p>Только побуждаемое могучей движущей силой видение вместе с безграничной внутренней силой духа может гарантировать реализацию любого плана.</p>
<p>Единственно ценное жизненное правило – всегда делай то, что ты хочешь. Должен человек только себе – и никому другому.</p>
<hr>
<p>Время, которое раньше тратилось на пустые разговоры, выяснение отношений с домашними, с собой, теперь занято активной медитацией.</p>
<p>Ни религия, ни наука, ни вожди – не спасут мир. Спасти его могут только люди, избавившиеся от неведения.</p>
<hr>
<p>Глупое сердце и узкое мышление невежд служат только к более низкой оценке типа, которого он старается расхвалить.</p>
<p>Если, заболев, человек мчится за помощью к врачу, он исходит из своих ограниченных знаний о собственных возможностях.</p>
<hr>
<p>Наступят времена, когда мы никого не сможем больше ждать. Вы либо едете с нами, либо не едете.</p>
<p>Компьютерная программа делает то, что вы приказали ей делать, а вовсе не то, что вам хотелось бы.</p>
<hr>
<p>Хорошие манеры состоят в умении скрыть, как много мы думаем о себе и как мало – о других.</p>
<p>Начался новый период в развитии человека, когда на смену старым представлениям о Мире и человеке, приходят новые.</p>
<p>Немедленно после того, как вам все-таки удалось свести концы с концами, какая-то статья ваших доходов отдает концы.</p>
<p>Любой автомобиль, используемый в качестве резервного, ломается сразу же после того, как вышел из строя основной автомобиль.</p>
<hr>
<p>Философия – это вопросы, на которые никогда нельзя ответить. Религия – это ответы, на которые никогда нельзя поставить вопросы.</p>
<p>В вопросах религии очень легко ввести человечество в заблуждение и очень трудно вывести его из этого заблуждения.</p>
<hr>
<p>Люди отличаются от других живых существ скорее своей способностью обсуждать и объяснять, чем способностью рассуждать и прояснять.</p>
<p>Вы сможете уберечь себя от множества ненужных хлопот, если сожжете мосты еще до того, как их переходить.</p>
<hr>
<p>Не без основания говорят, что кто не очень-то полагается на свою память, тому нелегко складно лгать.</p>
<p>Человек может освободиться от иррационального и эмоционального мышления толпы и достичь истинной самореализации, став разумным и сознательным.</p>
<hr>
<p>Не создавай представления о человеке, суди о нем просто; не считай его ни хорошим, ни дурным.</p>
<p>Скромник более невыносим, чем хвастун: хвастун признает за каждым его достоинство, скромный презирает того, перед кем скромничает.</p>
<hr>
<h2>18 слов</h2>
<p>Независимо от числа командированных в такси и того, кто платил, каждый в своем отчете укажет расходы на такси.</p>
<p>Счастье не в том, чтобы делать всегда, что хочешь, а в том, чтобы всегда хотеть того, что делаешь.</p>
<hr>
<p>Если проявлять слишком большие старания в манерах, то они потеряют свое изящество, которое должно быть естественным и непринужденным.</p>
<p>Новая книга – это ущелье, в которое я никогда не заходил, но которое уже расступается передо мной, маня вдаль.</p>
<hr>
<p>Никто не запишет то, что Вы могли сделать, но не сделали, но у каждого есть список Ваших ошибок.</p>
<p>«Истинность» мы понимаем, как верность, полагая, что здесь должно быть больше смысла в ключе преданности и подчинения нам.</p>
<hr>
<p>Лицемер мне напоминает человека, который убил родителей и просит суд о снисхождении на том основании, что он сирота.</p>
<p>Кто б знал, как правил хан и что с ним сталось, когда б об этом грамот не осталось.</p>
<hr>
<p>Мудрый! Обязан будучи жить среди простого народа, будь подобен маслу, плавающему поверх воды, но не смешивающемуся с оною.</p>
<p>Сегодня в мире очень хорошо продаётся всё то, что можно есть и пить. Потому что теперь едят всё.</p>
<p>В будущем на рынке останется два вида компаний: те, кто в Интернете, и те, кто вышел из бизнеса.</p>
<p>Тот, кто ищет миллионы, весьма редко их находит, но зато тот, кто их не ищет, не находит никогда!</p>
<hr>
<p>Знаете, мой уже теперь долгий опыт и в бизнесе, и в политике показал, что лучше отказаться от сверхприбыли.</p>
<p>Не подходи с просьбой, если на твоих глазах только что кому-то отказали- второй раз легче выговорить «нет».</p>
<hr>
<p>Ум, весь состоящий из одной логики, подобен ножу из одного лезвия: он ранит в кровь руку, берущую его.</p>
<p>В женщине больше непосредственной, сиюминутной силы, которая зовётся предприимчивостью; в мужчине больше подспудной прибережённой силы, которая зовётся ленью.</p>
<hr>
<p>Создайте свою мечту, мечтайте осознанно, поскольку мысли имеют тенденцию реализовываться – и вы получите справедливое вознаграждение за свои усилия.</p>
<p>Когда мы становимся взрослыми, мы все больше превращаемся в духовных и мыслительных паразитов: наш мозг блокируется старой чепухой.</p>
<hr>
<p>Тому, кто встал после тяжелой болезни, какая нужда во враче? Тому, кто пересек реку, какая нужда в лодке?</p>
<p>Путем сознательных воздействий можно повлиять на свой генетический код, изменить его и тем самым решить многие житейские проблемы.</p>
<p>Быть сознательным – значит не перекладывать вину на близких, соседей, государство, а брать ответственность на себя, быть внимательным, бдительным.</p>
<p>Не цепи держат человека в рабстве страхов, вины, нищеты и ненависти, а он крепко держится за эти цепи.</p>
<hr>
<p>Ревизоры и налоговые аудиторы всегда подвергают сомнению любой отчет о затратах, если итоговая сумма кратна пяти или десяти.</p>
<p>О любой из ваших самых удачных фотографий рано или поздно скажут, что там вы совершенно не похожи на себя.</p>
<hr>
<p>Если на пустынной дороге навстречу друг другу едут легковой автомобиль и грузовик, они обязательно встретятся на узком мостике.</p>
<p>Любой человек в состоянии признаться самому себе, что действовал неверно. Настоящая проверка характера – признаться в этом кому-нибудь другому.</p>
<hr>
<p>Та полоса, в которой вам все время приходилось останавливаться, освобождается сразу же, как только вы перестроитесь в другую.</p>
<p>Если вы решите двинуться пешком, автобус подойдет как раз в тот момент, когда вы окажитесь посредине между остановками.</p>
<p>Все величины выражаются в самых невразумительных единицах. Скорость, например, будет указана в вершках за две недели.</p>
<p>Большинство людей упускают появившуюся возможность, потому что она бывает одета в комбинезон и с виду напоминает работу.</p>
<p>Когда самолет, на котором вы летите, опаздывает, тот самолет, на который вы хотите пересесть, летит строго по расписанию.</p>
<p>Подробный отчет о потребительских качествах интересующего вас вида изделий выйдет через неделю после того, как вы совершили покупку.</p>
<hr>
<p>Люди, которые торгуются по поводу цены живописного полотна, не скажут ни словечка насчет суммы, запрашиваемой изготовителем рамы.</p>
<p>Чтобы убрать любой объект с предназначенного ему места, требуется затратить меньше энергии, чем чтобы положить его на место.</p>
<hr>
<p>Самый медлительный кассир всегда работает на том выходе из торгового зала, где висит табличка «Для тех, кто спешит».</p>
<p>Если бы мне пришлось прожить свою жизнь еще раз, я бы совершила те же ошибки, но только быстрее.</p>
<hr>
<p>Люди, которые не верят ни во что на свете, с легкостью готовы поверить в самое худшее о людях.</p>
<p>Сказать, что человек является набором молекул, – это все равно что сказать, будто шекспировская пьеса является всего-навсего набором слов.</p>
<hr>
<p>Если вы говорите какие-нибудь гадости о другом, то вскоре обнаружите, что эти же утверждения относятся и к вам.</p>
<p>После того как с защитного устройства отвинчен последний из крепежных болтов, обнаруживается, что вы снимаете не тот кожух.</p>
<p>Информированием человека занимаются преподаватели. Развитием качеств человека занимаются родители и воспитатели в раннем возрасте, причем делают это неправильно.</p>
<p>Только определенная цель, сформированная посредством продуктивной мысли, создает энергию, способную привести эту цель к быстрой и успешной реализации.</p>
<hr>
<p>Прими вызов, посвяти себя цели, борись с разногласиями, завершая миссию, доживи до времени, когда увидишь свою мечту осуществленной.</p>
<p>Люди с укоренившимся негативным мышлением, сформированным образованием, нацеленным на безумное поглощение информации, не способны к строительству собственного успеха.</p>
<hr>
<p>Относись к миру как дальний путник, ненадолго остановившийся, чтобы передохнуть в тени дерева, а затем продолживший свой путь.</p>
<p>(из заповедей пророка Мухаммеда)</p>
<p>Человек дает заключение, исходя из объема и сути знаний, коими обладает, и из предосудительного отношения к миру, людям.</p>
<hr>
<p>Кто ищет знания ради возможности поспорить с мудрецами, унизить непросвещенных, обратить на себя внимание, того Аллах наградит адом.</p>
<p>После «возраста Христа» в сознании происходят заметные перемены: человек задумывается над смыслом жизни, осознает никчемность всей жизненной суеты.</p>
<hr>
<p>Ум ограничен, поскольку он оперирует мыслями, а мысль всегда фрагментарна: она не в состоянии охватить весь объект, явление.</p>
<p>Учитель может указать путь, путь один для всех; средства же, чтобы достичь цели, должны изменяться для каждого путника.</p>
<p>Не злорадствуй, если смерть и несчастье одолеют врагов твоих; воздавай хвалу хорошим качествам каждого, если хочешь иметь друзей.</p>
<p>Соблюдай правила и не прекращай мгновенье за мгновеньем очищать свой ум, практиковать самосовершенствование, осуществлять самореализацию и соблюдать дисциплину.</p>
<hr>
<p>Чему бы вы ни научились от спящих людей из различных партий, религий – все это мертвое, служит не вам.</p>
<p>Сократ глубоко верил в свое знание, считая, что ничего, кроме того, чему он учит, не может быть «истиной».</p>
<hr>
<p>Не смотри на окружающих, делай, что ты считаешь справедливым. Будь одинаково равнодушен и к порицанию, и к похвале.</p>
<p>Опыт убедил меня, что люди плохо понимают друг друга и плохо вслушиваются в то, что говорят друг другу.</p>
<hr>
<p>Если в том, чем вы занимаетесь, нет ни радости, ни спокойствия, попробуйте изменить то, как вы это делаете.</p>
<p>Отчуждение означает, что вы никогда, нигде и ни с кем, даже с самим собой не чувствуете себя свободно.</p>
<hr>
<p>Избегай смотреть такие передачи и рекламу, которые атакуют тебя быстрой чередой образов, сменяющихся каждые две-три секунды или чаще.</p>
<p>Первопричиной неудовлетворенности собой и жизнью никогда не бывает сама ситуация - это всегда ваши мысли. Осознайте свои мысли.</p>
<hr>
<h2>19 слов</h2>
<p>То, что Вы ищете, Вы найдете, обыскав все, в кармане тех брюк, которые были на Вас во время поиска.</p>
<p>Не делай ничего постыдного ни в присутствии других, ни в тайне. Первым законом должно быть уважение к самому себе.</p>
<hr>
<p>Гениальный человек появляется в момент, когда в истории и науке возникает потребность в человеке, который бы разрешил возникшие вопросы.</p>
<p>Знание есть сила и против этой силы не устоят самые окаменелые заблуждения, как не устояла против нее сама природа.</p>
<hr>
<p>Обаяние заключается в уме, ум раскрывается, когда человек этого желает, и в той мере, в какой он этого желает.</p>
<p>Если существует секрет успеха, он заключается в способности принять точку зрения другого человека и видеть вещи с его позиции.</p>
<hr>
<p>Мы удивляемся фокуснику, который отгадывает чужие мысли, и не удивляемся друг другу, когда можем мгновенно составить представление о другом.</p>
<p>Особое внимание следует уделять всестороннему развитию личности, потому что даже незначительное отступление от этого правила приводит к узости мышления.</p>
<hr>
<p>Оставшийся у вас лист упаковочной бумаги для подарков будет на пятнадцать сантиметров короче, чем последний подарок, который нужно завернуть.</p>
<p>Если вы помогли другу в беде, он наверняка будет помнить вас – до следующего раза, когда снова попадет в беду.</p>
<p>Любая краска независимо от её качества или состава намертво пристанет к любой поверхности, если только она попала туда случайно.</p>
<p>Срочная работа, на которую вы потратили всю ночь, никому не понадобится в течение, по меньшей мере, двух ближайших дней.</p>
<hr>
<p>Величайшее счастье, о котором я ежедневно прошу небо: пусть превосходят меня в силах и знаниях разумные и добродетельные люди.</p>
<p>Научиться достаточно наглядно представлять себе, что никто не является вполне счастливым, есть, возможно, самый короткий путь к полному счастью.</p>
<hr>
<p>Мудрый человек управляет своим временем; он не потеряет ни одного часа, если не получит должного вознаграждения: знанием, опытом, деньгами.</p>
<p>Зов верховного руководства высших знаний никогда не умолкает, но не каждому дано услышать зов, ибо тщеславие делает человека глухим.</p>
<hr>
<p>Не приступай к практике самосовершенствования до тех пор, пока не научишься контролировать свой ум и освобождаться от блуждающих мыслей.</p>
<p>Разум обеспечивает быстрое восстановление тела в том случае, когда человек держит глаза открытыми и учится ум приводить в действие.</p>
<hr>
<p>Тридцать процентов людей сейчас готовы трансформироваться, измениться, перестроиться на новый порядок без труда. Им не хватает тридцати секунд веры.</p>
<p>Пока не разработан компьютер, который бы осознавал, что он делает, но по большей части мы этого тоже не осознаем.</p>
<hr>
<h2>20 слов</h2>
<p>Необходимо научить родителей деликатно подводить ребенка к выбору того или иного варианта поведения в различных ситуациях, не ущемляя его свободы.</p>
<hr>
<p>Будьте доброжелательны с каждым из собеседников. Никогда не известно заранее, кто из них может впоследствии попасть в состав жюри присяжных.</p>
<hr>
<p>Расстояние от места, где вам пришлось поставить машину, до вашей квартиры растет пропорционально весу сумок и пакетов, которые вы тащите.</p>
<hr>
<p>Не беспокойтесь насчет того, что думают про вас другие. Они слишком заняты, беспокоясь насчет того, что думаете про них вы.</p>
<p>Судить обо всем – это не привилегия, а необходимость, данная нам самой природой и неотъемлемая от нас, как сознание и разум.</p>
<hr>
<p>Если хочешь пережить самого себя и быть в почтении у потомства, то оставь после себя добродетельное семейство и хорошую книгу.</p>
<hr>
<p>Каждая женщина должна уметь четыре вещи: выглядеть, как девушка, вести себя, как дама, мыслить, как мужчина, и работать, как лошадь.</p>
<hr>
<p>Великие люди своим существованием дают нам представление о том, чем мы способны стать и что хорошее скрыто в нас самих.</p>
<hr>
<p>То, что можно сказать об отношении человека к труду, то же можно сказать и об отношении человека к другому человеку.</p>
<hr>
<p>Я бываю то лисой, то львом. Весь секрет управления заключается в том, чтобы знать, когда следует быть тем или другим.</p>