<div
class="field"
[class.field--locked]="fullscreenService.locked | async"
>
  <timer-global></timer-global>

  <div *ngIf="config" class="game">
    <trainer-classification-colors
      *ngIf="config.ui === 'classification-colors'"
      [config]="config"
      (result)="onResult($event)"
    ></trainer-classification-colors>

    <trainer-classification-definitions
      *ngIf="config.ui === 'classification-definitions'"
      [config]="config"
      (result)="onResult($event)"
    ></trainer-classification-definitions>

    <trainer-classification-words
      *ngIf="config.ui === 'classification-words'"
      [config]="config"
      (result)="onResult($event)"
    ></trainer-classification-words>

    <trainer-greeting
      *ngIf="config.ui === 'greeting'"
      [config]="config"
      (result)="onResult($event)"
    ></trainer-greeting>

    <trainer-image-carpets
      *ngIf="config.ui === 'image-carpets'"
      [config]="config"
      (result)="onResult($event)"
    ></trainer-image-carpets>

    <trainer-image-differences
      *ngIf="config.ui === 'image-differences'"
      [config]="config"
      (result)="onResult($event)"
    ></trainer-image-differences>

    <trainer-image-expressions
      *ngIf="config.ui === 'image-expressions'"
      [config]="config"
      (result)="onResult($event)"
    ></trainer-image-expressions>

    <trainer-image-expressions-preview
      *ngIf="config.ui === 'image-expressions-preview'"
      [config]="config"
      (result)="onResult($event)"
    ></trainer-image-expressions-preview>

    <trainer-image-fields-preview
      *ngIf="config.ui === 'image-fields-preview'"
      [config]="config"
      (result)="onResult($event)"
    ></trainer-image-fields-preview>

    <trainer-image-fields-question
      *ngIf="config.ui === 'image-fields-question'"
      [config]="config"
      (result)="onResult($event)"
    ></trainer-image-fields-question>

    <trainer-math-equation
      *ngIf="config.ui === 'math-equation'"
      [config]="config"
      (result)="onResult($event)"
    ></trainer-math-equation>

    <trainer-math-middle
      *ngIf="config.ui === 'math-middle'"
      [config]="config"
      (result)="onResult($event)"
    ></trainer-math-middle>

    <trainer-math-sequence
      *ngIf="config.ui === 'math-sequence'"
      [config]="config"
      (result)="onResult($event)"
    ></trainer-math-sequence>

    <trainer-math-waste
      *ngIf="config.ui === 'math-waste'"
      [config]="config"
      (result)="onResult($event)"
    ></trainer-math-waste>

    <trainer-matrix-images-filling
      *ngIf="config.ui === 'matrix-images-filling'"
      [config]="config"
      (result)="onResult($event)"
    ></trainer-matrix-images-filling>

    <trainer-matrix-images-preview
      *ngIf="config.ui === 'matrix-images-preview'"
      [config]="config"
      (result)="onResult($event)"
    ></trainer-matrix-images-preview>

    <trainer-matrix-images-question
      *ngIf="config.ui === 'matrix-images-question'"
      [config]="config"
      (result)="onResult($event)"
    ></trainer-matrix-images-question>

    <trainer-matrix-sequence-filling
      *ngIf="config.ui === 'matrix-sequence-filling'"
      [config]="config"
      (result)="onResult($event)"
    ></trainer-matrix-sequence-filling>

    <trainer-matrix-sequence-play
      *ngIf="config.ui === 'matrix-sequence-play'"
      [config]="config"
      (result)="onResult($event)"
    ></trainer-matrix-sequence-play>

    <trainer-relax
      *ngIf="config.ui === 'relax'"
      [config]="config"
      (result)="onResult($event)"
    ></trainer-relax>

    <trainer-result
      *ngIf="config.ui === 'result'"
      [config]="config"
      (result)="onResult($event)"
    ></trainer-result>

    <trainer-space-question-waste
      *ngIf="config.ui === 'space-question-waste'"
      [config]="config"
      (result)="onResult($event)"
    ></trainer-space-question-waste>

    <trainer-storytelling
      *ngIf="config.ui === 'storytelling'"
      [config]="config"
      (result)="onResult($event)"
    ></trainer-storytelling>

    <trainer-table-pipe
      *ngIf="config.ui === 'table-pipe'"
      [config]="config"
      (result)="onResult($event)"
    ></trainer-table-pipe>

    <trainer-text-letters
      *ngIf="config.ui === 'text-letters'"
      [config]="config"
      (result)="onResult($event)"
    ></trainer-text-letters>

    <trainer-text-letters-preview
      *ngIf="config.ui === 'text-letters-preview'"
      [config]="config"
      (result)="onResult($event)"
    ></trainer-text-letters-preview>

    <trainer-text-question-tof
      *ngIf="config.ui === 'text-question-tof'"
      [config]="config"
      (result)="onResult($event)"
    ></trainer-text-question-tof>

    <trainer-text-reading
      *ngIf="config.ui === 'text-reading'"
      [config]="config"
      (result)="onResult($event)"
    ></trainer-text-reading>

    <trainer-text-tezirovanie
      *ngIf="config.ui === 'text-tezirovanie'"
      [config]="config"
      (result)="onResult($event)"
    ></trainer-text-tezirovanie>

    <trainer-words-column
      *ngIf="config.ui === 'words-column'"
      [config]="config"
      (result)="onResult($event)"
    ></trainer-words-column>

    <trainer-words-filling
      *ngIf="config.ui === 'words-filling'"
      [config]="config"
      (result)="onResult($event)"
    ></trainer-words-filling>

    <trainer-words-lexis
      *ngIf="config.ui === 'words-lexis'"
      [config]="config"
      (result)="onResult($event)"
    ></trainer-words-lexis>

    <trainer-words-pairs
      *ngIf="config.ui === 'words-pairs'"
      [config]="config"
      (result)="onResult($event)"
    ></trainer-words-pairs>

    <trainer-words-questions-close
      *ngIf="config.ui === 'words-questions-close'"
      [config]="config"
      (result)="onResult($event)"
    ></trainer-words-questions-close>

    <trainer-words-questions-waste
      *ngIf="config.ui === 'words-questions-waste'"
      [config]="config"
      (result)="onResult($event)"
    ></trainer-words-questions-waste>
  </div>

  <timer-lap></timer-lap>

  <button wFormButton="round white shadow" class="close-botton" routerLink="/">
    <div aria-hidden="true">╳</div>
    <span visually-hidden>Меню</span>
  </button>
</div>


