:host {
  display: flex;
  justify-content: center;
  align-items: stretch;

  width: 100vw;
  height: auto;

  min-height: 100vh;

  --padding: 12px;
  padding: var(--padding);

  background-color: rgba(255, 255, 255, 0.24);

  overflow: hidden;
  user-select: none;
}

@media (max-width: 600px) {
  :host {
    --padding: 4px;
  }
}


/* === Field node === */

.field {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;

  flex: 0 0 100%;
  width: 100%;
  max-width: 960px;

  border-radius: 9px;

  background-color: var(--color-background);
  box-shadow: var(--shadow-field);

  overflow: visible;
  position: relative;
  user-select: none;
}

.field--locked {
  height: calc(var(--window-height) - var(--padding) * 2 - 4px);
  max-height: calc(var(--window-height) - var(--padding) * 2 - 4px);
}

.field::after {
  content: "";
  display: block;
  position: absolute;

  left: 0;
  top: 0;
  width: 172px;
  height: 62px;

  background-color: transparent;
  background-image:
    linear-gradient(-20deg, transparent 0%, transparent 50%, var(--color-middle) 50%, var(--color-second) 100%);
  background-size: 100%;
  background-repeat: no-repeat;

  border-radius: 9px 0 0 0;
}

/* === Game field === */

.game {
  display: flex;
  justify-content: stretch;
  align-items: stretch;

  width: 100%;
  min-width: 100%;
  flex-grow: 1;
  flex-shrink: 1;
  max-height: 100%;
}


/* === Close button === */

.close-botton {
  position: absolute;
  right: -8px;
  top: -8px;
  font-size: 20px;
}

@media (max-width: 600px) {
  .close-botton {
    right: -3px;
    top: -3px;
    padding: 4px;
  }
}
