:host {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 16px;
  padding: 16px;
  position: relative;
}

:host::before {
  display: block;
  content: "";

  background-color: #272725;
  background-image: url("/img/pattern.jpg");
  background-position: 50%;
  background-repeat: repeat-x;

  position: absolute;
  width: 200vw;
  left: -50%;
  height: 260px;
  top: 0%;
  z-index: -1;
}

.h1 {
  grid-column-start: 1;
  grid-column-end: -1;
  margin-bottom: 0;
  color: #fff;
}

.wrapper {
  grid-column-start: 1;
  grid-column-end: -1;
  background-color: #fff;
}

.controls {
  height: 56px;
  border-bottom: 1px solid rgba(0,0,0,.12);

  display: grid;
  grid-template-columns: min-content auto min-content;
  align-items: center;

  padding-left: 16px;
  padding-right: 16px;
  gap: 16px;
}

.avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.mat-header-row {
  background-color: #f4f4f4;
}

.mat-row:hover {
  background-color: rgba(0,0,0,.04);
  cursor: pointer;
}

statistics-card {
  --background-color-h: 230;
}

statistics-card + statistics-card {
  --background-color-h: 190;
}

statistics-card + statistics-card + statistics-card {
  --background-color-h: 122;
}

statistics-card + statistics-card + statistics-card + statistics-card {
  --background-color-h: 42;
}
