
.header {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: var(--size);

  background-color: #fefefe;
  box-shadow: var(--box-shadow);

  display: flex;
  justify-content: flex-start;
  align-items: center;

  user-select: none;
}


.messages {
  display: none;
  position: absolute;

  width: 200px;
  height: 200px;
  top: 100%;
  right: 0;

  background-color: #fff;
  box-shadow: var(--box-shadow);
}