
.main {
  height: 100%;

  padding-left: 24px;
  padding-right: 24px;

  overflow:  hidden;
  overflow-y: scroll;
}

@media (max-width: 600px) {
  .main {
    padding-left: 16px;
    padding-right: 16px;
  }
}