
.user-button {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  height: var(--size);
  padding: 0;
  padding-left: 18px;
  padding-right: 18px;
  width: 230px;

  color: inherit;
  background-color: transparent;
  border: 0 none;
}

.user-button__avatar {
  flex: 0 0 48px;
  height: 48px;
  border-radius: 50%;
  background-color: var(--color-gray);

  display: flex;
  justify-content: center;
  align-items: center;
}

.user-button__first-letter {
  display: block;
  position: relative;
  top: -2px;

  flex: 0 1 100%;

  font-size: 24px;
  font-weight: 700;

  line-height: 40px;
  text-align: center;

  color: #fff;
}

.user-button__info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  white-space: nowrap;
  margin-left: 8px;
  margin-top: 8px;
}

.user-button__name {
  font-size: 13px;
  font-weight: 500;
}

.user-button__arrow {
  margin-left: 8px;
}

.user-button__type {
  color: var(--color-second)
}